<reserved_header_section 
	templateID="201"
	templateFile="homepage.html"
	templateDescription="HTML content template (Home - Index)">
</reserved_header_section>

<div>
	<h5 class="pageTitle">Home page</h5>
	<h1 class="pageTitle margin-b-20">
		FramboJSe_Test framework
	</h1>

	<p>Paragrafo default: margin: 0; padding: 0</p>
	<p>Paragrafo default: margin: 0; padding: 0</p>
</div>

<div id="demo">
	<hr class="margin-v-25">
	<div class="row">
		<div class="col-4">
			<p style="border:solid 1px #ddd" class="margin-b-5 padding-a-5" >Padding  5</p>
			<p style="border:solid 1px #ddd" class="margin-b-5 padding-a-10">Padding 10</p>
			<p style="border:solid 1px #ddd" class="margin-b-5 padding-a-15">Padding 15</p>
			<p style="border:solid 1px #ddd" class="margin-b-5 padding-a-20">Padding 20</p>
		</div>

		<div class="col-4">
			<p style="border:solid 1px #ddd" class="textCenter padding-a-10 margin-t-0" >Centered Margin  0</p>
			<p style="border:solid 1px #ddd" class="textCenter padding-a-10 margin-t-5" >Centered Margin  5</p>
			<p style="border:solid 1px #ddd" class="textCenter padding-a-10 margin-t-10">Centered Margin 10</p>
			<p style="border:solid 1px #ddd" class="textCenter padding-a-10 margin-t-15">Centered Margin 15</p>
		</div>

		<div class="col-4">
			<p style="border:solid 1px #ddd" class="padding-a-10 margin-b-5 sysOk sysOkBg">Stato: ok</p>
			<p style="border:solid 1px #ddd" class="padding-a-10 margin-b-5 sysError sysErrorBg" >Stato: error</p>
			<p style="border:solid 1px #ddd" class="padding-a-10 margin-b-5 sysWarning sysWarningBg">Stato: warning</p>
			<p style="border:solid 1px #ddd" class="padding-a-10 margin-b-5 sysInfo sysInfoBg">Stato: info</p>
		</div>
	</div>

	<hr class="margin-v-25">

	<!--
	<div class="card" id="fonts">
		<h3 class="card-header btnMain Oswald500" id="fontsHeader" data-toggle="collapse" data-target="#fontsBody" aria-expanded="false">
			Fonts
		</h3>
		<div id="fontsBody" class="collapse" aria-labelledby="fontsHeader" xdata-parent="#demo">

			<div class="card-body">
				<div class="row">
					<div class="col-4">
						<h4 class="Lato">Font: Lato</h4>
						<ul class="margin-v-10 ">
							<li><span class="font-18 Lato100">Lato100</span></li>
							<li><span class="font-18 Lato300">Lato300</span></li>
							<li><span class="font-18 Lato400">Lato400</span></li>
							<li><span class="font-18 Lato700">Lato700</span></li>
							<li><span class="font-18 Lato900">Lato900</span></li>
						</ul>
					</div>

					<div class="col-4">
						<h4 class="Lato">Font: Open Sans</h4>
						<ul class="margin-v-10 ">
							<li><span class="font-18 OpenSans300">OpenSans300</span></li>
							<li><span class="font-18 OpenSans400">OpenSans400</span></li>
							<li><span class="font-18 OpenSans600">OpenSans600</span></li>
							<li><span class="font-18 OpenSans700">OpenSans700</span></li>
							<li><span class="font-18 OpenSans800">OpenSans800</span></li>
						</ul>
					</div>

					<div class="col-4">
						<h4 class="Oswald">Font: Oswald</h4>
						<ul class="margin-v-10 ">
							<li><span class="font-18 Oswald200">Oswald200</span></li>
							<li><span class="font-18 Oswald300">Oswald300</span></li>
							<li><span class="font-18 Oswald400">Oswald400</span></li>
							<li><span class="font-18 Oswald500">Oswald500</span></li>
							<li><span class="font-18 Oswald600">Oswald600</span></li>
							<li><span class="font-18 Oswald700">Oswald700</span></li>
						</ul>
					</div>

					<div class="col-4">
						<h4 class="Raleway">Font: Raleway</h4>
						<ul class="margin-v-10 ">
							<li><span class="font-18 Raleway100">Raleway100</span></li>
							<li><span class="font-18 Raleway200">Raleway200</span></li>
							<li><span class="font-18 Raleway300">Raleway300</span></li>
							<li><span class="font-18 Raleway400">Raleway400</span></li>
							<li><span class="font-18 Raleway500">Raleway500</span></li>
							<li><span class="font-18 Raleway600">Raleway600</span></li>
							<li><span class="font-18 Raleway700">Raleway700</span></li>
							<li><span class="font-18 Raleway800">Raleway800</span></li>
							<li><span class="font-18 Raleway900">Raleway900</span></li>
						</ul>
					</div>

					<div class="col-4">
						<h4 class="Montserrat">Font: Montserrat</h4>
						<ul class="margin-v-10 ">
							<li><span class="font-18 Montserrat100">Montserrat100</span></li>
							<li><span class="font-18 Montserrat200">Montserrat200</span></li>
							<li><span class="font-18 Montserrat300">Montserrat300</span></li>
							<li><span class="font-18 Montserrat400">Montserrat400</span></li>
							<li><span class="font-18 Montserrat500">Montserrat500</span></li>
							<li><span class="font-18 Montserrat600">Montserrat600</span></li>
							<li><span class="font-18 Montserrat700">Montserrat700</span></li>
							<li><span class="font-18 Montserrat800">Montserrat800</span></li>
							<li><span class="font-18 Montserrat900">Montserrat900</span></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
	-->

	<div class="card" id="colors">
		<h3 class="card-header btnMain Oswald500" id="colorsHeader" data-toggle="collapse" data-target="#colorsBody" aria-expanded="false">
			Colors
		</h3>
		<div id="colorsBody" class="collapse padding-t-10" aria-labelledby="colorsHeader" xdata-parent="#demo">
			<div class="card-body">

				<div class="panel margin-b-30 padding-v-10">
					<a class="panel-toggle panel-title collapsed" data-toggle="collapse" data-target="#panel-black" aria-expanded="false">
						<i class="panel-ico-on  fa fa-caret-down" ></i>
						<i class="panel-ico-off fa fa-caret-right"></i>
						Scala "black": gradazioni di grigio da 00 (bianco) a 100 (nero)
					</a>
					<div id="panel-black" class="panel-content collapse">
						<div class="row margin-t-15 margin-b-5">
							<div class="col-12">
								<h4 class="Oswald">Testo</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<ul class="margin-v-10 ">
									<li><span class="block font-18 bgBlack_50 black_00">.black_00</span></li>
									<li><span class="block font-18 bgBlack_50 black_05">.black_05</span></li>
									<li><span class="block font-18 bgBlack_50 black_10">.black_10</span></li>
									<li><span class="block font-18 bgBlack_50 black_15">.black_15</span></li>
									<li><span class="block font-18 bgBlack_50 black_20">.black_20</span></li>
									<li><span class="block font-18 bgBlack_50 black_25">.black_25</span></li>
									<li><span class="block font-18 bgBlack_50 black_30">.black_30</span></li>
								</ul>
							</div>
							<div class="col-4">
								<ul class="margin-v-10 ">
									<li><span class="block font-18 black_35 ">.black_35</span></li>
									<li><span class="block font-18 black_40 ">.black_40</span></li>
									<li><span class="block font-18 black_45 ">.black_45</span></li>
									<li><span class="block font-18 black_50 ">.black_50</span></li>
									<li><span class="block font-18 black_55 ">.black_55</span></li>
									<li><span class="block font-18 black_60 ">.black_60</span></li>
									<li><span class="block font-18 black_65 ">.black_65</span></li>
								</ul>
							</div>
							<div class="col-4">
								<ul class="margin-v-10 ">
									<li><span class="block font-18 black_70 ">.black_70 </span></li>
									<li><span class="block font-18 black_75 ">.black_75 </span></li>
									<li><span class="block font-18 black_80 ">.black_80 </span></li>
									<li><span class="block font-18 black_85 ">.black_85 </span></li>
									<li><span class="block font-18 black_90 ">.black_90 </span></li>
									<li><span class="block font-18 black_95 ">.black_95 </span></li>
									<li><span class="block font-18 black_100">.black_100</span></li>
								</ul>
							</div>
						</div>
						<div class="row margin-t-15 margin-b-5">
							<div class="col-12">
								<h4 class="Oswald">Sfondo (background)</h4>
							</div>
							<div class="col-4">
								<ul class="margin-v-10 black_100">
									<li><span class="block font-18 bgBlack_00 ">.bgBlack_00</span></li>
									<li><span class="block font-18 bgBlack_05 ">.bgBlack_05</span></li>
									<li><span class="block font-18 bgBlack_10 ">.bgBlack_10</span></li>
									<li><span class="block font-18 bgBlack_15 ">.bgBlack_15</span></li>
									<li><span class="block font-18 bgBlack_20 ">.bgBlack_20</span></li>
									<li><span class="block font-18 bgBlack_25 ">.bgBlack_25</span></li>
									<li><span class="block font-18 bgBlack_30 ">.bgBlack_30</span></li>
								</ul>
							</div>
							<div class="col-4">
								<ul class="margin-v-10 black_100">
									<li><span class="block font-18 bgBlack_35 ">.bgBlack_35</span></li>
									<li><span class="block font-18 bgBlack_40 ">.bgBlack_40</span></li>
									<li><span class="block font-18 bgBlack_45 ">.bgBlack_45</span></li>
									<li><span class="block font-18 bgBlack_50 ">.bgBlack_50</span></li>
									<li><span class="block font-18 bgBlack_55 ">.bgBlack_55</span></li>
									<li><span class="block font-18 bgBlack_60 ">.bgBlack_60</span></li>
									<li><span class="block font-18 bgBlack_65 ">.bgBlack_65</span></li>
								</ul>
							</div>
							<div class="col-4">
								<ul class="margin-v-10 black_00">
									<li><span class="block font-18 bgBlack_70 ">.bgBlack_70 </span></li>
									<li><span class="block font-18 bgBlack_75 ">.bgBlack_75 </span></li>
									<li><span class="block font-18 bgBlack_80 ">.bgBlack_80 </span></li>
									<li><span class="block font-18 bgBlack_85 ">.bgBlack_85 </span></li>
									<li><span class="block font-18 bgBlack_90 ">.bgBlack_90 </span></li>
									<li><span class="block font-18 bgBlack_95 ">.bgBlack_95 </span></li>
									<li><span class="block font-18 bgBlack_100">.bgBlack_100</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="panel margin-b-30 padding-v-10">
					<a class="panel-toggle panel-title collapsed" data-toggle="collapse" data-target="#panel-white" aria-expanded="false">
						<i class="panel-ico-on  fa fa-caret-down" ></i>
						<i class="panel-ico-off fa fa-caret-right"></i>
						Scala "white": gradazioni di grigio da 00 (nero) a 100 (bianco)
					</a>
					<div id="panel-white" class="panel-content collapse">
						<div class="row margin-t-15 margin-b-5">
							<div class="col-12">
								<h4 class="Oswald">Testo</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<ul class="margin-v-10 ">
									<li><span class="block font-18 white_00">.white_00</span></li>
									<li><span class="block font-18 white_05">.white_05</span></li>
									<li><span class="block font-18 white_10">.white_10</span></li>
									<li><span class="block font-18 white_15">.white_15</span></li>
									<li><span class="block font-18 white_20">.white_20</span></li>
									<li><span class="block font-18 white_25">.white_25</span></li>
									<li><span class="block font-18 white_30">.white_30</span></li>
								</ul>
							</div>
							<div class="col-4">
								<ul class="margin-v-10 ">
									<li><span class="block font-18 white_35 ">.white_35</span></li>
									<li><span class="block font-18 white_40 ">.white_40</span></li>
									<li><span class="block font-18 white_45 ">.white_45</span></li>
									<li><span class="block font-18 white_50 ">.white_50</span></li>
									<li><span class="block font-18 white_55 ">.white_55</span></li>
									<li><span class="block font-18 white_60 ">.white_60</span></li>
									<li><span class="block font-18 white_65 ">.white_65</span></li>
								</ul>
							</div>
							<div class="col-4">
								<ul class="margin-v-10 ">
									<li><span class="block font-18 bgWhite_50 white_70 ">.white_70 </span></li>
									<li><span class="block font-18 bgWhite_50 white_75 ">.white_75 </span></li>
									<li><span class="block font-18 bgWhite_50 white_80 ">.white_80 </span></li>
									<li><span class="block font-18 bgWhite_50 white_85 ">.white_85 </span></li>
									<li><span class="block font-18 bgWhite_50 white_90 ">.white_90 </span></li>
									<li><span class="block font-18 bgWhite_50 white_95 ">.white_95 </span></li>
									<li><span class="block font-18 bgWhite_50 white_100">.white_100</span></li>
								</ul>
							</div>
						</div>
						<div class="row margin-t-15 margin-b-5">
							<div class="col-12">
								<h4 class="Oswald">Sfondo (background)</h4>
							</div>
							<div class="col-4">
								<ul class="margin-v-10 ">
									<li><span class="block font-18 bgWhite_00 ">.bgWhite_00</span></li>
									<li><span class="block font-18 bgWhite_05 ">.bgWhite_05</span></li>
									<li><span class="block font-18 bgWhite_10 ">.bgWhite_10</span></li>
									<li><span class="block font-18 bgWhite_15 ">.bgWhite_15</span></li>
									<li><span class="block font-18 bgWhite_20 ">.bgWhite_20</span></li>
									<li><span class="block font-18 bgWhite_25 ">.bgWhite_25</span></li>
									<li><span class="block font-18 bgWhite_30 ">.bgWhite_30</span></li>
								</ul>
							</div>
							<div class="col-4">
								<ul class="margin-v-10 ">
									<li><span class="block font-18 bgWhite_35 ">.bgWhite_35</span></li>
									<li><span class="block font-18 bgWhite_40 ">.bgWhite_40</span></li>
									<li><span class="block font-18 bgWhite_45 ">.bgWhite_45</span></li>
									<li><span class="block font-18 bgWhite_50 ">.bgWhite_50</span></li>
									<li><span class="block font-18 bgWhite_55 ">.bgWhite_55</span></li>
									<li><span class="block font-18 bgWhite_60 ">.bgWhite_60</span></li>
									<li><span class="block font-18 bgWhite_65 ">.bgWhite_65</span></li>
								</ul>
							</div>
							<div class="col-4">
								<ul class="margin-v-10 ">
									<li><span class="block font-18 white_30  bgWhite_70 ">.bgWhite_70 </span></li>
									<li><span class="block font-18 white_25  bgWhite_75 ">.bgWhite_75 </span></li>
									<li><span class="block font-18 white_20  bgWhite_80 ">.bgWhite_80 </span></li>
									<li><span class="block font-18 white_15  bgWhite_85 ">.bgWhite_85 </span></li>
									<li><span class="block font-18 white_10  bgWhite_90 ">.bgWhite_90 </span></li>
									<li><span class="block font-18 white_05  bgWhite_95 ">.bgWhite_95 </span></li>
									<li><span class="block font-18 white_00  bgWhite_100">.bgWhite_100</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	
	<div class="card" id="buttons">
		<h3 class="card-header btnMain Oswald500" id="buttonsHeader" data-toggle="collapse" data-target="#buttonsBody" aria-expanded="false">
			Buttons
		</h3>
		<div id="buttonsBody" class="collapse" aria-labelledby="buttonsHeader" xdata-parent="#demo">

			<div class="card-body">
				<div class="row margin-b-15">
					<div class="col-12">
						<h5 class="Oswald700 margin-b-5">Default</h5>
						<a class="margin-r-15 col-2 btn " href=#href">.btn</a>
						<a class="margin-r-15 col-2 btn " href=#href">.btn Svg <i class="far fa-save margin-l-5"></i></a>
						<a class="margin-r-15 col-2 btn  active" href=#href">.btn .active <i class="far fa-save margin-l-5"></i></a>
						<a class="margin-r-15 col-2 btn " href=#href">.btn</a>
						<a class="margin-r-15 col-2 btn  hover" href=#href">.btn .hover</a>
					</div>
				</div>
				<div class="row margin-b-15">
					<div class="col-12">
						<h5 class="Oswald700 margin-b-5">"Std" (class: .btnStd)</h5>
						<a class="margin-r-15 col-2 btn btnStd" href=#href">.btnStd</a>
						<a class="margin-r-15 col-2 btn btnStd" href=#href">.btnStd Svg <i class="far fa-save margin-l-5"></i></a>
						<a class="margin-r-15 col-2 btn btnStd active" href=#href">.btnStd .active <i class="far fa-save margin-l-5"></i></a>
						<a class="margin-r-15 col-2 btn btnStd" href=#href">.btnStd</a>
						<a class="margin-r-15 col-2 btn btnStd hover" href=#href">.btnStd .hover</a>
					</div>
				</div>
				<div class="row margin-b-15">
					<div class="col-12">
						<h5 class="Oswald700 margin-b-5">Button "Main"</h5>
						<a class="margin-r-15 col-2 btn btnMain" href=#href">Btn text</a>
						<a class="margin-r-15 col-2 btn btnMain" href=#href">Btn text Svg <i class="far fa-save margin-l-5"></i></a>
						<a class="margin-r-15 col-2 btn btnMain active" href=#href">Btn text active <i class="far fa-save margin-l-5"></i></a>
						<a class="margin-r-15 col-2 btn btnMain" href=#href">Btn text</a>
						<a class="margin-r-15 col-2 btn btnMain hover" href=#href">Btn text hover</a>
					</div>
				</div>
				<div class="row margin-b-15">
					<div class="col-12">
						<h5 class="Oswald700 margin-b-5">Button "Light"</h5>
						<a class="margin-r-15 col-2 btn btnLight" href=#href">Btn text</a>
						<a class="margin-r-15 col-2 btn btnLight" href=#href">Btn text Svg <i class="far fa-save margin-l-5"></i></a>
						<a class="margin-r-15 col-2 btn btnLight active" href=#href">Btn text active <i class="far fa-save margin-l-5"></i></a>
						<a class="margin-r-15 col-2 btn btnLight" href=#href">Btn text</a>
						<a class="margin-r-15 col-2 btn btnLight hover" href=#href">Btn text hover</a>
					</div>
				</div>
				<div class="row margin-b-15">
					<div class="col-12">
						<h5 class="Oswald700 margin-b-5">Button "Dark"</h5>
						<a class="margin-r-15 col-2 btn btnDark" href=#href">Btn text</a>
						<a class="margin-r-15 col-2 btn btnDark" href=#href">Btn text Svg <i class="far fa-save margin-l-5"></i></a>
						<a class="margin-r-15 col-2 btn btnDark active" href=#href">Btn text active <i class="far fa-save margin-l-5"></i></a>
						<a class="margin-r-15 col-2 btn btnDark" href=#href">Btn text</a>
						<a class="margin-r-15 col-2 btn btnDark hover" href=#href">Btn text hover</a>
					</div>
				</div>
				<div class="row margin-b-15">
					<div class="col-12">
						<h5 class="Oswald700 margin-b-5">Button "Action"</h5>
						<a class="margin-r-15 col-2 btn btnAction" href=#href">Btn text</a>
						<a class="margin-r-15 col-2 btn btnAction" href=#href">Btn text Svg <i class="far fa-save margin-l-5"></i></a>
						<a class="margin-r-15 col-2 btn btnAction active" href=#href">Btn text active <i class="far fa-save margin-l-5"></i></a>
						<a class="margin-r-15 col-2 btn btnAction" href=#href">Btn text</a>
						<a class="margin-r-15 col-2 btn btnAction hover" href=#href">Btn text hover</a>
					</div>
				</div>
				<div class="row margin-b-15">
					<div class="col-12">
						<h5 class="Oswald700 margin-b-5">Button "Caution"</h5>
						<a class="margin-r-15 col-2 btn btnCaution" href=#href">Btn text</a>
						<a class="margin-r-15 col-2 btn btnCaution" href=#href">Btn text Svg <i class="far fa-save margin-l-5"></i></a>
						<a class="margin-r-15 col-2 btn btnCaution active" href=#href">Btn text active <i class="far fa-save margin-l-5"></i></a>
						<a class="margin-r-15 col-2 btn btnCaution" href=#href">Btn text</a>
						<a class="margin-r-15 col-2 btn btnCaution hover" href=#href">Btn text hover</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	

	<div class="card" id="buttons">
		<h3 class="card-header btnMain Oswald500" id="controlsHeader" data-toggle="collapse" data-target="#controlsBody" aria-expanded="false">
			Controls
		</h3>
		<div id="controlsBody" class="collapse" aria-labelledby="controlsHeader" xdata-parent="#demo">

			<div class="card-body">
				<div class="row margin-b-15">
					<div class="col-3">
						<input class="form-control" type="text" value="Campo testo 1">
					</div>
					<div class="col-3">
						<select class="form-control" type="text">
							<option>Option 1</option>
							<option>Option 2</option>
							<option>Option 3</option>
						</select>
					</div>
					<div class="col-3">
						<input class="form-control" type="text" value="Campo testo 3">
					</div>
					<div class="col-3">
						<input class="form-control" type="text" value="Campo testo 4">
					</div>
				</div>
			</div>

		</div>
	</div>


	<!-- ** 1: Sezione stili di sistema ** -->
	<h1 class="margin-b-20 margin-t-50">Sistema (framework)</h1>

	<div class="card" id="Font">
		<h3 class="card-header btnMain Oswald500" id="fontHeader" data-toggle="collapse" data-target="#fontBody" aria-expanded="false">
			Fonts
		</h3>
		<div id="fontBody" class="collapse padding-t-10" aria-labelledby="fontHeader">
			<div class="card-body">

				<div class="panel margin-b-30 padding-v-10">
					<a class="panel-toggle panel-title collapsed" data-toggle="collapse" data-target="#panel-font1" aria-expanded="false">
						<i class="panel-ico-on  fa fa-caret-down" ></i>
						<i class="panel-ico-off fa fa-caret-right"></i>
						Font: Lato
					</a>
					<div id="panel-font1" class="panel-content collapse">
						<div class="row margin-v-15 fontSample">
							<select class="form-control fontSizes" ref="#panel-font1" current="font-18">
								<option value="font-14">Font 14</option>
								<option value="font-15">Font 15</option>
								<option value="font-16">Font 16</option>
								<option value="font-17">Font 17</option>
								<option value="font-18" selected>Font 18</option>
								<option value="font-19">Font 19</option>
								<option value="font-20">Font 20</option>
								<option value="font-21">Font 21</option>
								<option value="font-22">Font 22</option>
								<option value="font-23">Font 23</option>
								<option value="font-24">Font 24</option>
								<option value="font-25">Font 25</option>
								<option value="font-26">Font 26</option>
							</select>
							<div class="col-3">
								<h4>(standard)</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="Lato100">Lato100</span></li>
									<li><span class="Lato300">Lato300</span></li>
									<li><span class="Lato400">Lato400</span></li>
									<li><span class="Lato700">Lato700</span></li>
									<li><span class="Lato900">Lato900</span></li>
								</ul>
							</div>
							<div class="col-3">
								<h4>"italic"</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="Lato100 italic">Lato100</span></li>
									<li><span class="Lato300 italic">Lato300</span></li>
									<li><span class="Lato400 italic">Lato400</span></li>
									<li><span class="Lato700 italic">Lato700</span></li>
									<li><span class="Lato900 italic">Lato900</span></li>
								</ul>
							</div>
							<div class="col-3">
								<h4>"underline"</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="Lato100 underline">Lato100</span></li>
									<li><span class="Lato300 underline">Lato300</span></li>
									<li><span class="Lato400 underline">Lato400</span></li>
									<li><span class="Lato700 underline">Lato700</span></li>
									<li><span class="Lato900 underline">Lato900</span></li>
								</ul>
							</div>
							<div class="col-3">
								<h4>"smallCaps"</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="Lato100 smallCaps">Lato100</span></li>
									<li><span class="Lato300 smallCaps">Lato300</span></li>
									<li><span class="Lato400 smallCaps">Lato400</span></li>
									<li><span class="Lato700 smallCaps">Lato700</span></li>
									<li><span class="Lato900 smallCaps">Lato900</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="panel margin-b-30 padding-v-10">
					<a class="panel-toggle panel-title collapsed" data-toggle="collapse" data-target="#panel-font2" aria-expanded="false">
						<i class="panel-ico-on  fa fa-caret-down" ></i>
						<i class="panel-ico-off fa fa-caret-right"></i>
						Font: Open Sans
					</a>
					<div id="panel-font2" class="panel-content collapse">
						<div class="row margin-v-15 fontSample">
							<select class="form-control fontSizes" ref="#panel-font2" current="font-18">
								<option value="font-14">Font 14</option>
								<option value="font-15">Font 15</option>
								<option value="font-16">Font 16</option>
								<option value="font-17">Font 17</option>
								<option value="font-18" selected>Font 18</option>
								<option value="font-19">Font 19</option>
								<option value="font-20">Font 20</option>
								<option value="font-21">Font 21</option>
								<option value="font-22">Font 22</option>
								<option value="font-23">Font 23</option>
								<option value="font-24">Font 24</option>
								<option value="font-25">Font 25</option>
								<option value="font-26">Font 26</option>
							</select>
							<div class="col-3">
								<h4>(standard)</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="OpenSans300">OpenSans300</span></li>
									<li><span class="OpenSans400">OpenSans400</span></li>
									<li><span class="OpenSans600">OpenSans600</span></li>
									<li><span class="OpenSans700">OpenSans700</span></li>
									<li><span class="OpenSans800">OpenSans800</span></li>
								</ul>
							</div>
							<div class="col-3">
								<h4>"italic"</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="OpenSans300 italic">OpenSans300</span></li>
									<li><span class="OpenSans400 italic">OpenSans400</span></li>
									<li><span class="OpenSans600 italic">OpenSans600</span></li>
									<li><span class="OpenSans700 italic">OpenSans700</span></li>
									<li><span class="OpenSans800 italic">OpenSans800</span></li>
								</ul>
							</div>
							<div class="col-3">
								<h4>"underline"</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="OpenSans300 underline">OpenSans300</span></li>
									<li><span class="OpenSans400 underline">OpenSans400</span></li>
									<li><span class="OpenSans600 underline">OpenSans600</span></li>
									<li><span class="OpenSans700 underline">OpenSans700</span></li>
									<li><span class="OpenSans800 underline">OpenSans800</span></li>
								</ul>
							</div>
							<div class="col-3">
								<h4>"smallCaps"</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="OpenSans300 smallCaps">OpenSans300</span></li>
									<li><span class="OpenSans400 smallCaps">OpenSans400</span></li>
									<li><span class="OpenSans600 smallCaps">OpenSans600</span></li>
									<li><span class="OpenSans700 smallCaps">OpenSans700</span></li>
									<li><span class="OpenSans800 smallCaps">OpenSans800</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="panel margin-b-30 padding-v-10">
					<a class="panel-toggle panel-title collapsed" data-toggle="collapse" data-target="#panel-font3" aria-expanded="false">
						<i class="panel-ico-on  fa fa-caret-down" ></i>
						<i class="panel-ico-off fa fa-caret-right"></i>
						Font: Oswald
					</a>
					<div id="panel-font3" class="panel-content collapse">
						<div class="row margin-v-15 fontSample">
							<select class="form-control fontSizes" ref="#panel-font3" current="font-18">
								<option value="font-14">Font 14</option>
								<option value="font-15">Font 15</option>
								<option value="font-16">Font 16</option>
								<option value="font-17">Font 17</option>
								<option value="font-18" selected>Font 18</option>
								<option value="font-19">Font 19</option>
								<option value="font-20">Font 20</option>
								<option value="font-21">Font 21</option>
								<option value="font-22">Font 22</option>
								<option value="font-23">Font 23</option>
								<option value="font-24">Font 24</option>
								<option value="font-25">Font 25</option>
								<option value="font-26">Font 26</option>
							</select>
							<div class="col-3">
								<h4>(standard)</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="Oswald200">Oswald200</span></li>
									<li><span class="Oswald300">Oswald300</span></li>
									<li><span class="Oswald400">Oswald400</span></li>
									<li><span class="Oswald500">Oswald500</span></li>
									<li><span class="Oswald600">Oswald600</span></li>
									<li><span class="Oswald700">Oswald700</span></li>
								</ul>
							</div>
							<div class="col-3">
								<h4>"italic"</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="Oswald200 italic">Oswald200</span></li>
									<li><span class="Oswald300 italic">Oswald300</span></li>
									<li><span class="Oswald400 italic">Oswald400</span></li>
									<li><span class="Oswald500 italic">Oswald500</span></li>
									<li><span class="Oswald600 italic">Oswald600</span></li>
									<li><span class="Oswald700 italic">Oswald700</span></li>
								</ul>
							</div>
							<div class="col-3">
								<h4>"underline"</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="Oswald200 underline">Oswald200</span></li>
									<li><span class="Oswald300 underline">Oswald300</span></li>
									<li><span class="Oswald400 underline">Oswald400</span></li>
									<li><span class="Oswald500 underline">Oswald500</span></li>
									<li><span class="Oswald600 underline">Oswald600</span></li>
									<li><span class="Oswald700 underline">Oswald700</span></li>
								</ul>
							</div>
							<div class="col-3">
								<h4>"smallCaps"</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="Oswald200 smallCaps">Oswald200</span></li>
									<li><span class="Oswald300 smallCaps">Oswald300</span></li>
									<li><span class="Oswald400 smallCaps">Oswald400</span></li>
									<li><span class="Oswald500 smallCaps">Oswald500</span></li>
									<li><span class="Oswald600 smallCaps">Oswald600</span></li>
									<li><span class="Oswald700 smallCaps">Oswald700</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="panel margin-b-30 padding-v-10">
					<a class="panel-toggle panel-title collapsed" data-toggle="collapse" data-target="#panel-font4" aria-expanded="false">
						<i class="panel-ico-on  fa fa-caret-down" ></i>
						<i class="panel-ico-off fa fa-caret-right"></i>
						Font: Raleway
					</a>
					<div id="panel-font4" class="panel-content collapse">
						<div class="row margin-v-15 fontSample">
							<select class="form-control fontSizes" ref="#panel-font4" current="font-18">
								<option value="font-14">Font 14</option>
								<option value="font-15">Font 15</option>
								<option value="font-16">Font 16</option>
								<option value="font-17">Font 17</option>
								<option value="font-18" selected>Font 18</option>
								<option value="font-19">Font 19</option>
								<option value="font-20">Font 20</option>
								<option value="font-21">Font 21</option>
								<option value="font-22">Font 22</option>
								<option value="font-23">Font 23</option>
								<option value="font-24">Font 24</option>
								<option value="font-25">Font 25</option>
								<option value="font-26">Font 26</option>
							</select>
							<div class="col-3">
								<h4>(standard)</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="Raleway100">Raleway100</span></li>
									<li><span class="Raleway200">Raleway200</span></li>
									<li><span class="Raleway300">Raleway300</span></li>
									<li><span class="Raleway400">Raleway400</span></li>
									<li><span class="Raleway500">Raleway500</span></li>
									<li><span class="Raleway600">Raleway600</span></li>
									<li><span class="Raleway700">Raleway700</span></li>
									<li><span class="Raleway800">Raleway800</span></li>
									<li><span class="Raleway900">Raleway900</span></li>
								</ul>
							</div>
							<div class="col-3">
								<h4>"italic"</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="Raleway100 italic">Raleway100</span></li>
									<li><span class="Raleway200 italic">Raleway200</span></li>
									<li><span class="Raleway300 italic">Raleway300</span></li>
									<li><span class="Raleway400 italic">Raleway400</span></li>
									<li><span class="Raleway500 italic">Raleway500</span></li>
									<li><span class="Raleway600 italic">Raleway600</span></li>
									<li><span class="Raleway700 italic">Raleway700</span></li>
									<li><span class="Raleway800 italic">Raleway800</span></li>
									<li><span class="Raleway900 italic">Raleway900</span></li>
								</ul>
							</div>
							<div class="col-3">
								<h4>"underline"</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="Raleway100 underline">Raleway100</span></li>
									<li><span class="Raleway200 underline">Raleway200</span></li>
									<li><span class="Raleway300 underline">Raleway300</span></li>
									<li><span class="Raleway400 underline">Raleway400</span></li>
									<li><span class="Raleway500 underline">Raleway500</span></li>
									<li><span class="Raleway600 underline">Raleway600</span></li>
									<li><span class="Raleway700 underline">Raleway700</span></li>
									<li><span class="Raleway800 underline">Raleway800</span></li>
									<li><span class="Raleway900 underline">Raleway900</span></li>
								</ul>
							</div>
							<div class="col-3">
								<h4>"smallCaps"</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="Raleway100 smallCaps">Raleway100</span></li>
									<li><span class="Raleway200 smallCaps">Raleway200</span></li>
									<li><span class="Raleway300 smallCaps">Raleway300</span></li>
									<li><span class="Raleway400 smallCaps">Raleway400</span></li>
									<li><span class="Raleway500 smallCaps">Raleway500</span></li>
									<li><span class="Raleway600 smallCaps">Raleway600</span></li>
									<li><span class="Raleway700 smallCaps">Raleway700</span></li>
									<li><span class="Raleway800 smallCaps">Raleway800</span></li>
									<li><span class="Raleway900 smallCaps">Raleway900</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="panel margin-b-30 padding-v-10">
					<a class="panel-toggle panel-title collapsed" data-toggle="collapse" data-target="#panel-font5" aria-expanded="false">
						<i class="panel-ico-on  fa fa-caret-down" ></i>
						<i class="panel-ico-off fa fa-caret-right"></i>
						Font: Montserrat
					</a>
					<div id="panel-font5" class="panel-content collapse">
						<div class="row margin-v-15 fontSample">
							<select class="form-control fontSizes" ref="#panel-font5" current="font-18">
								<option value="font-14">Font 14</option>
								<option value="font-15">Font 15</option>
								<option value="font-16">Font 16</option>
								<option value="font-17">Font 17</option>
								<option value="font-18" selected>Font 18</option>
								<option value="font-19">Font 19</option>
								<option value="font-20">Font 20</option>
								<option value="font-21">Font 21</option>
								<option value="font-22">Font 22</option>
								<option value="font-23">Font 23</option>
								<option value="font-24">Font 24</option>
								<option value="font-25">Font 25</option>
								<option value="font-26">Font 26</option>
							</select>
							<div class="col-3">
								<h4>(standard)</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="Montserrat100">Montserrat100</span></li>
									<li><span class="Montserrat200">Montserrat200</span></li>
									<li><span class="Montserrat300">Montserrat300</span></li>
									<li><span class="Montserrat400">Montserrat400</span></li>
									<li><span class="Montserrat500">Montserrat500</span></li>
									<li><span class="Montserrat600">Montserrat600</span></li>
									<li><span class="Montserrat700">Montserrat700</span></li>
									<li><span class="Montserrat800">Montserrat800</span></li>
									<li><span class="Montserrat900">Montserrat900</span></li>
								</ul>
							</div>
							<div class="col-3">
								<h4>"italic"</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="Montserrat100 italic">Montserrat100</span></li>
									<li><span class="Montserrat200 italic">Montserrat200</span></li>
									<li><span class="Montserrat300 italic">Montserrat300</span></li>
									<li><span class="Montserrat400 italic">Montserrat400</span></li>
									<li><span class="Montserrat500 italic">Montserrat500</span></li>
									<li><span class="Montserrat600 italic">Montserrat600</span></li>
									<li><span class="Montserrat700 italic">Montserrat700</span></li>
									<li><span class="Montserrat800 italic">Montserrat800</span></li>
									<li><span class="Montserrat900 italic">Montserrat900</span></li>
								</ul>
							</div>
							<div class="col-3">
								<h4>"underline"</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="Montserrat100 underline">Montserrat100</span></li>
									<li><span class="Montserrat200 underline">Montserrat200</span></li>
									<li><span class="Montserrat300 underline">Montserrat300</span></li>
									<li><span class="Montserrat400 underline">Montserrat400</span></li>
									<li><span class="Montserrat500 underline">Montserrat500</span></li>
									<li><span class="Montserrat600 underline">Montserrat600</span></li>
									<li><span class="Montserrat700 underline">Montserrat700</span></li>
									<li><span class="Montserrat800 underline">Montserrat800</span></li>
									<li><span class="Montserrat900 underline">Montserrat900</span></li>
								</ul>
							</div>
							<div class="col-3">
								<h4>"smallCaps"</h4>
								<ul class="margin-v-10 font-18">
									<li><span class="Montserrat100 smallCaps">Montserrat100</span></li>
									<li><span class="Montserrat200 smallCaps">Montserrat200</span></li>
									<li><span class="Montserrat300 smallCaps">Montserrat300</span></li>
									<li><span class="Montserrat400 smallCaps">Montserrat400</span></li>
									<li><span class="Montserrat500 smallCaps">Montserrat500</span></li>
									<li><span class="Montserrat600 smallCaps">Montserrat600</span></li>
									<li><span class="Montserrat700 smallCaps">Montserrat700</span></li>
									<li><span class="Montserrat800 smallCaps">Montserrat800</span></li>
									<li><span class="Montserrat900 smallCaps">Montserrat900</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>




	<!-- ** 2: Sezione stili personalizzati ** -->

	<h1 class="margin-b-20 margin-t-50">Application</h1>

	<div class="card" id="Palette">
		<h3 class="card-header btnDark Oswald500" id="paletteHeader" data-toggle="collapse" data-target="#paletteBody" aria-expanded="false">
			Palette
		</h3>
		<div id="paletteBody" class="collapse padding-t-10" aria-labelledby="paletteHeader">
			<div class="card-body">

				<div class="panel margin-b-30 padding-v-10">
					<a class="panel-toggle panel-title" data-toggle="collapse" data-target="#panel-palette1" aria-expanded="true">
						<i class="panel-ico-on  fa fa-caret-down" ></i>
						<i class="panel-ico-off fa fa-caret-right"></i>
						Color 1:
					</a>
					<div id="panel-palette1" class="panel-content collapse show">
						<div class="row margin-v-15 paletteSample">
							<div class="colorCode"></div>
							<div class="col-12 margin-b-5">
								<p class="margin-b-10">
									<span class="label">Background:</span>
									<span class="ground bgColor1_00 ">00</span>
									<span class="ground bgColor1_05 ">05</span>
									<span class="ground bgColor1_10 ">10</span>
									<span class="ground bgColor1_15 ">15</span>
									<span class="ground bgColor1_20 ">20</span>
									<span class="ground bgColor1_25 ">25</span>
									<span class="ground bgColor1_30 ">30</span>
									<span class="ground bgColor1_35 ">35</span>
									<span class="ground bgColor1_40 ">40</span>
									<span class="ground bgColor1_45 ">45</span>
									<span class="ground bgColor1_50 ">50</span>
									<span class="ground bgColor1_55 ">55</span>
									<span class="ground bgColor1_60 ">60</span>
									<span class="ground bgColor1_65 ">65</span>
									<span class="ground bgColor1_70 ">70</span>
									<span class="ground bgColor1_75 ">75</span>
									<span class="ground bgColor1_80 ">80</span>
									<span class="ground bgColor1_85 ">85</span>
									<span class="ground bgColor1_90 ">90</span>
									<span class="ground bgColor1_95 ">95</span>
									<span class="ground bgColor1_100">100</span>
								</p>
								<p>
									<span class="label">Text & border:</span>
									<span class="borded color1_00  borderColor1_00">00</span>
									<span class="borded color1_05  borderColor1_05">05</span>
									<span class="borded color1_10  borderColor1_10">10</span>
									<span class="borded color1_15  borderColor1_15">15</span>
									<span class="borded color1_20  borderColor1_20">20</span>
									<span class="borded color1_25  borderColor1_25">25</span>
									<span class="borded color1_30  borderColor1_30">30</span>
									<span class="borded color1_35  borderColor1_35">35</span>
									<span class="borded color1_40  borderColor1_40">40</span>
									<span class="borded color1_45  borderColor1_45">45</span>
									<span class="borded color1_50  borderColor1_50">50</span>
									<span class="borded color1_55  borderColor1_55">55</span>
									<span class="borded color1_60  borderColor1_60">60</span>
									<span class="borded color1_65  borderColor1_65">65</span>
									<span class="borded color1_70  borderColor1_70">70</span>
									<span class="borded color1_75  borderColor1_75">75</span>
									<span class="borded color1_80  borderColor1_80">80</span>
									<span class="borded color1_85  borderColor1_85">85</span>
									<span class="borded color1_90  borderColor1_90">90</span>
									<span class="borded color1_95  borderColor1_95">95</span>
									<span class="borded color1_100 borderColor1_100">100</span>
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="panel margin-b-30 padding-v-10">
					<a class="panel-toggle panel-title" data-toggle="collapse" data-target="#panel-palette2" aria-expanded="true">
						<i class="panel-ico-on  fa fa-caret-down" ></i>
						<i class="panel-ico-off fa fa-caret-right"></i>
						Color 2:
					</a>

					<div id="panel-palette2" class="panel-content collapse show">
						<div class="row margin-t-15 margin-b-15 paletteSample">
							<div class="colorCode"></div>
							<div class="col-12 margin-b-5">
								<p class="margin-b-10">
									<span class="label">Background:</span>
									<span class="ground bgColor2_00 ">00</span>
									<span class="ground bgColor2_05 ">05</span>
									<span class="ground bgColor2_10 ">10</span>
									<span class="ground bgColor2_15 ">15</span>
									<span class="ground bgColor2_20 ">20</span>
									<span class="ground bgColor2_25 ">25</span>
									<span class="ground bgColor2_30 ">30</span>
									<span class="ground bgColor2_35 ">35</span>
									<span class="ground bgColor2_40 ">40</span>
									<span class="ground bgColor2_45 ">45</span>
									<span class="ground bgColor2_50 ">50</span>
									<span class="ground bgColor2_55 ">55</span>
									<span class="ground bgColor2_60 ">60</span>
									<span class="ground bgColor2_65 ">65</span>
									<span class="ground bgColor2_70 ">70</span>
									<span class="ground bgColor2_75 ">75</span>
									<span class="ground bgColor2_80 ">80</span>
									<span class="ground bgColor2_85 ">85</span>
									<span class="ground bgColor2_90 ">90</span>
									<span class="ground bgColor2_95 ">95</span>
									<span class="ground bgColor2_100">100</span>
								</p>
								<p>
									<span class="label">Text & border:</span>
									<span class="borded color2_00  borderColor2_00">00</span>
									<span class="borded color2_05  borderColor2_05">05</span>
									<span class="borded color2_10  borderColor2_10">10</span>
									<span class="borded color2_15  borderColor2_15">15</span>
									<span class="borded color2_20  borderColor2_20">20</span>
									<span class="borded color2_25  borderColor2_25">25</span>
									<span class="borded color2_30  borderColor2_30">30</span>
									<span class="borded color2_35  borderColor2_35">35</span>
									<span class="borded color2_40  borderColor2_40">40</span>
									<span class="borded color2_45  borderColor2_45">45</span>
									<span class="borded color2_50  borderColor2_50">50</span>
									<span class="borded color2_55  borderColor2_55">55</span>
									<span class="borded color2_60  borderColor2_60">60</span>
									<span class="borded color2_65  borderColor2_65">65</span>
									<span class="borded color2_70  borderColor2_70">70</span>
									<span class="borded color2_75  borderColor2_75">75</span>
									<span class="borded color2_80  borderColor2_80">80</span>
									<span class="borded color2_85  borderColor2_85">85</span>
									<span class="borded color2_90  borderColor2_90">90</span>
									<span class="borded color2_95  borderColor2_95">95</span>
									<span class="borded color2_100 borderColor2_100">100</span>
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="panel margin-b-30 padding-v-10">
					<a class="panel-toggle panel-title" data-toggle="collapse" data-target="#panel-palette3" aria-expanded="true">
						<i class="panel-ico-on  fa fa-caret-down" ></i>
						<i class="panel-ico-off fa fa-caret-right"></i>
						Color 3:
					</a>
					<div id="panel-palette3" class="panel-content collapse show">
						<div class="row margin-t-15 margin-b-15 paletteSample">
							<div class="colorCode"></div>
							<div class="col-12 margin-b-5">
								<p class="margin-b-10">
									<span class="label">Background:</span>
									<span class="ground bgColor3_00 ">00</span>
									<span class="ground bgColor3_05 ">05</span>
									<span class="ground bgColor3_10 ">10</span>
									<span class="ground bgColor3_15 ">15</span>
									<span class="ground bgColor3_20 ">20</span>
									<span class="ground bgColor3_25 ">25</span>
									<span class="ground bgColor3_30 ">30</span>
									<span class="ground bgColor3_35 ">35</span>
									<span class="ground bgColor3_40 ">40</span>
									<span class="ground bgColor3_45 ">45</span>
									<span class="ground bgColor3_50 ">50</span>
									<span class="ground bgColor3_55 ">55</span>
									<span class="ground bgColor3_60 ">60</span>
									<span class="ground bgColor3_65 ">65</span>
									<span class="ground bgColor3_70 ">70</span>
									<span class="ground bgColor3_75 ">75</span>
									<span class="ground bgColor3_80 ">80</span>
									<span class="ground bgColor3_85 ">85</span>
									<span class="ground bgColor3_90 ">90</span>
									<span class="ground bgColor3_95 ">95</span>
									<span class="ground bgColor3_100">100</span>
								</p>
								<p>
									<span class="label">Text & border:</span>
									<span class="borded color3_00  borderColor3_00">00</span>
									<span class="borded color3_05  borderColor3_05">05</span>
									<span class="borded color3_10  borderColor3_10">10</span>
									<span class="borded color3_15  borderColor3_15">15</span>
									<span class="borded color3_20  borderColor3_20">20</span>
									<span class="borded color3_25  borderColor3_25">25</span>
									<span class="borded color3_30  borderColor3_30">30</span>
									<span class="borded color3_35  borderColor3_35">35</span>
									<span class="borded color3_40  borderColor3_40">40</span>
									<span class="borded color3_45  borderColor3_45">45</span>
									<span class="borded color3_50  borderColor3_50">50</span>
									<span class="borded color3_55  borderColor3_55">55</span>
									<span class="borded color3_60  borderColor3_60">60</span>
									<span class="borded color3_65  borderColor3_65">65</span>
									<span class="borded color3_70  borderColor3_70">70</span>
									<span class="borded color3_75  borderColor3_75">75</span>
									<span class="borded color3_80  borderColor3_80">80</span>
									<span class="borded color3_85  borderColor3_85">85</span>
									<span class="borded color3_90  borderColor3_90">90</span>
									<span class="borded color3_95  borderColor3_95">95</span>
									<span class="borded color3_100 borderColor3_100">100</span>
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="panel margin-b-30 padding-v-10">
					<a class="panel-toggle panel-title" data-toggle="collapse" data-target="#panel-palette4" aria-expanded="true">
						<i class="panel-ico-on  fa fa-caret-down" ></i>
						<i class="panel-ico-off fa fa-caret-right"></i>
						Color 4:
					</a>
					<div id="panel-palette4" class="panel-content collapse show">
						<div class="row margin-t-15 margin-b-15 paletteSample">
							<div class="colorCode"></div>
							<div class="col-12 margin-b-5">
								<p class="margin-b-10">
									<span class="label">Background:</span>
									<span class="ground bgColor4_00 ">00</span>
									<span class="ground bgColor4_05 ">05</span>
									<span class="ground bgColor4_10 ">10</span>
									<span class="ground bgColor4_15 ">15</span>
									<span class="ground bgColor4_20 ">20</span>
									<span class="ground bgColor4_25 ">25</span>
									<span class="ground bgColor4_30 ">30</span>
									<span class="ground bgColor4_35 ">35</span>
									<span class="ground bgColor4_40 ">40</span>
									<span class="ground bgColor4_45 ">45</span>
									<span class="ground bgColor4_50 ">50</span>
									<span class="ground bgColor4_55 ">55</span>
									<span class="ground bgColor4_60 ">60</span>
									<span class="ground bgColor4_65 ">65</span>
									<span class="ground bgColor4_70 ">70</span>
									<span class="ground bgColor4_75 ">75</span>
									<span class="ground bgColor4_80 ">80</span>
									<span class="ground bgColor4_85 ">85</span>
									<span class="ground bgColor4_90 ">90</span>
									<span class="ground bgColor4_95 ">95</span>
									<span class="ground bgColor4_100">100</span>
								</p>
								<p>
									<span class="label">Text & border:</span>
									<span class="borded color4_00  borderColor4_00">00</span>
									<span class="borded color4_05  borderColor4_05">05</span>
									<span class="borded color4_10  borderColor4_10">10</span>
									<span class="borded color4_15  borderColor4_15">15</span>
									<span class="borded color4_20  borderColor4_20">20</span>
									<span class="borded color4_25  borderColor4_25">25</span>
									<span class="borded color4_30  borderColor4_30">30</span>
									<span class="borded color4_35  borderColor4_35">35</span>
									<span class="borded color4_40  borderColor4_40">40</span>
									<span class="borded color4_45  borderColor4_45">45</span>
									<span class="borded color4_50  borderColor4_50">50</span>
									<span class="borded color4_55  borderColor4_55">55</span>
									<span class="borded color4_60  borderColor4_60">60</span>
									<span class="borded color4_65  borderColor4_65">65</span>
									<span class="borded color4_70  borderColor4_70">70</span>
									<span class="borded color4_75  borderColor4_75">75</span>
									<span class="borded color4_80  borderColor4_80">80</span>
									<span class="borded color4_85  borderColor4_85">85</span>
									<span class="borded color4_90  borderColor4_90">90</span>
									<span class="borded color4_95  borderColor4_95">95</span>
									<span class="borded color4_100 borderColor4_100">100</span>
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="panel margin-b-30 padding-v-10">
					<a class="panel-toggle panel-title" data-toggle="collapse" data-target="#panel-mix1" aria-expanded="true">
						<i class="panel-ico-on  fa fa-caret-down" ></i>
						<i class="panel-ico-off fa fa-caret-right"></i>
						Mixing 1:
					</a>
					<div id="panel-mix1" class="panel-content collapse show">
						<div class="row margin-t-15 margin-b-15 paletteSample">
							<div class="colorCode"></div>
							<div class="col-12 margin-b-5">
								<p class="margin-b-10">
									<span class="label">Background:</span>
									<span class="ground bgMix1_00 ">00</span>
									<span class="ground bgMix1_05 ">05</span>
									<span class="ground bgMix1_10 ">10</span>
									<span class="ground bgMix1_15 ">15</span>
									<span class="ground bgMix1_20 ">20</span>
									<span class="ground bgMix1_25 ">25</span>
									<span class="ground bgMix1_30 ">30</span>
									<span class="ground bgMix1_35 ">35</span>
									<span class="ground bgMix1_40 ">40</span>
									<span class="ground bgMix1_45 ">45</span>
									<span class="ground bgMix1_50 ">50</span>
									<span class="ground bgMix1_55 ">55</span>
									<span class="ground bgMix1_60 ">60</span>
									<span class="ground bgMix1_65 ">65</span>
									<span class="ground bgMix1_70 ">70</span>
									<span class="ground bgMix1_75 ">75</span>
									<span class="ground bgMix1_80 ">80</span>
									<span class="ground bgMix1_85 ">85</span>
									<span class="ground bgMix1_90 ">90</span>
									<span class="ground bgMix1_95 ">95</span>
									<span class="ground bgMix1_100">100</span>
								</p>
								<p>
									<span class="label">Text & border:</span>
									<span class="borded mix1_00  borderMix1_00">00</span>
									<span class="borded mix1_05  borderMix1_05">05</span>
									<span class="borded mix1_10  borderMix1_10">10</span>
									<span class="borded mix1_15  borderMix1_15">15</span>
									<span class="borded mix1_20  borderMix1_20">20</span>
									<span class="borded mix1_25  borderMix1_25">25</span>
									<span class="borded mix1_30  borderMix1_30">30</span>
									<span class="borded mix1_35  borderMix1_35">35</span>
									<span class="borded mix1_40  borderMix1_40">40</span>
									<span class="borded mix1_45  borderMix1_45">45</span>
									<span class="borded mix1_50  borderMix1_50">50</span>
									<span class="borded mix1_55  borderMix1_55">55</span>
									<span class="borded mix1_60  borderMix1_60">60</span>
									<span class="borded mix1_65  borderMix1_65">65</span>
									<span class="borded mix1_70  borderMix1_70">70</span>
									<span class="borded mix1_75  borderMix1_75">75</span>
									<span class="borded mix1_80  borderMix1_80">80</span>
									<span class="borded mix1_85  borderMix1_85">85</span>
									<span class="borded mix1_90  borderMix1_90">90</span>
									<span class="borded mix1_95  borderMix1_95">95</span>
									<span class="borded mix1_100 borderMix1_100">100</span>
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="panel margin-b-30 padding-v-10">
					<a class="panel-toggle panel-title" data-toggle="collapse" data-target="#panel-mix2" aria-expanded="true">
						<i class="panel-ico-on  fa fa-caret-down" ></i>
						<i class="panel-ico-off fa fa-caret-right"></i>
						Mixing 2:
					</a>
					<div id="panel-mix2" class="panel-content collapse show">
						<div class="row margin-t-15 margin-b-15 paletteSample">
							<div class="colorCode"></div>
							<div class="col-12 margin-b-5">
								<p class="margin-b-10">
									<span class="label">Background:</span>
									<span class="ground bgMix2_00 ">00</span>
									<span class="ground bgMix2_05 ">05</span>
									<span class="ground bgMix2_10 ">10</span>
									<span class="ground bgMix2_15 ">15</span>
									<span class="ground bgMix2_20 ">20</span>
									<span class="ground bgMix2_25 ">25</span>
									<span class="ground bgMix2_30 ">30</span>
									<span class="ground bgMix2_35 ">35</span>
									<span class="ground bgMix2_40 ">40</span>
									<span class="ground bgMix2_45 ">45</span>
									<span class="ground bgMix2_50 ">50</span>
									<span class="ground bgMix2_55 ">55</span>
									<span class="ground bgMix2_60 ">60</span>
									<span class="ground bgMix2_65 ">65</span>
									<span class="ground bgMix2_70 ">70</span>
									<span class="ground bgMix2_75 ">75</span>
									<span class="ground bgMix2_80 ">80</span>
									<span class="ground bgMix2_85 ">85</span>
									<span class="ground bgMix2_90 ">90</span>
									<span class="ground bgMix2_95 ">95</span>
									<span class="ground bgMix2_100">100</span>
								</p>
								<p>
									<span class="label">Text & border:</span>
									<span class="borded mix2_00  borderMix2_00">00</span>
									<span class="borded mix2_05  borderMix2_05">05</span>
									<span class="borded mix2_10  borderMix2_10">10</span>
									<span class="borded mix2_15  borderMix2_15">15</span>
									<span class="borded mix2_20  borderMix2_20">20</span>
									<span class="borded mix2_25  borderMix2_25">25</span>
									<span class="borded mix2_30  borderMix2_30">30</span>
									<span class="borded mix2_35  borderMix2_35">35</span>
									<span class="borded mix2_40  borderMix2_40">40</span>
									<span class="borded mix2_45  borderMix2_45">45</span>
									<span class="borded mix2_50  borderMix2_50">50</span>
									<span class="borded mix2_55  borderMix2_55">55</span>
									<span class="borded mix2_60  borderMix2_60">60</span>
									<span class="borded mix2_65  borderMix2_65">65</span>
									<span class="borded mix2_70  borderMix2_70">70</span>
									<span class="borded mix2_75  borderMix2_75">75</span>
									<span class="borded mix2_80  borderMix2_80">80</span>
									<span class="borded mix2_85  borderMix2_85">85</span>
									<span class="borded mix2_90  borderMix2_90">90</span>
									<span class="borded mix2_95  borderMix2_95">95</span>
									<span class="borded mix2_100 borderMix2_100">100</span>
								</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>




</div>
<span id="end"></span>