<reserved_header_section templateID="105"
                         templateFile="hybridhome.html"
                         templateDescription="HTML content template (hybrid home)">
</reserved_header_section>

<!--<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>-->
<!--<script type="text/javascript" src="/system/3rd-parties/babel/babel.min.js"></script>-->

<!--<script type="text/babel">
    SystemJS.import('/private/bridge/hybrid/ReactBridge.jsx');
    alert('456');
</script>-->

<!--<script type="text/javascript">
    SystemJS.import('/private/bridge/hybrid/ReactBridge.jsx');
</script>-->


<h1>Test integrazione React con Yeap (framework - React)</h1>
<br />
<react-bridge id="react-bridge" name="123" value="456"></react-bridge>
