<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Main.pvt.Master.cs" Inherits="FramboJSe_Test.MasterPages.Main_pvt" %>

<!DOCTYPE html>

<html>

	<head runat="server">
	
	<title>FramboJSe_Test - Public</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- ** 3d Partes ** -->
	<% = LibFiles[JS_FILES]  %>
	<% = LibFiles[CSS_FILES] %>

	<!-- ** System - Script e stili di sistema -->
	<script type="text/javascript">
		var __PageScope   = 'private';																	// Declare page scope (Public or Private)
		var __SYS_config  = '';																			// System configuration: Core (framework) definitions
		var __SYS_version = '<% =Version %>';
	</script>
	<% = SysFiles[JS_FILES]  %>
	<% = SysFiles[CSS_FILES] %>
	<!-- ** Application - Script e stili specifici dell'applicazione ** -->
	<link rel="icon" href="/Public/resources/images/favicon.ico" />
	<% = PvtFiles[JS_FILES]  %>
	<% = PvtFiles[CSS_FILES] %>

    <asp:ContentPlaceHolder ID="cph_head" runat="server"></asp:ContentPlaceHolder>
</head>

<body>

	<form id="form1" runat="server">

		<div id="breakLabelsContainer" class="hide">
			<span class="viewportStatus d-inline-block d-sm-none">Minimal</span>
			<span class="viewportStatus d-none d-sm-inline-block d-md-none">Small</span>
			<span class="viewportStatus d-none d-md-inline-block d-lg-none">Medium</span>
			<span class="viewportStatus d-none d-lg-inline-block d-xl-none">Large</span>
			<span class="viewportStatus d-none d-xl-inline-block">Extralarge</span>
			<span id="xSize"></span>
		</div>

		<%-- 1: Navbar --%>
		<div id="navbarContainer"></div>


		<%-- 2: section "Sitemap" --%>
		<asp:ContentPlaceHolder ID="cph_sitemap" runat="server"></asp:ContentPlaceHolder>

		<%-- 3: section "pageDashboard" --%>
		<asp:ContentPlaceHolder ID="cph_dashboard" runat="server"></asp:ContentPlaceHolder>

		<%-- 4: section "pageContent" --%>
		<asp:ContentPlaceHolder ID="cph_pageBody" runat="server"></asp:ContentPlaceHolder>

		<%-- 5: section "modalsContainer" --%>
		<section id="modalsContainer"></section>

        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
            </asp:ContentPlaceHolder>
        </div>

		<div id="preloader" class="hide">
			<i class="outer spin"></i>
			<i class="middle spin-reverse"></i>
			<i class="inner spin"></i>
		</div>

		<div id="footer" class="navbar">
			<div class="container">
			</div>
		</div>

    </form>

</body>
</html>
