################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/FramboJse_TestFW/v16/.suo
/.vs
/FramboJSe_Test/bin
/FramboJSe_Test/obj/Debug
/packages
