.color1_00 {
  color: #ffffff;
}
.bgColor1_00 {
  background: #ffffff;
}
.borderColor1_00 {
  border-color: #ffffff;
}
.color1_05 {
  color: #f2f8fc;
}
.bgColor1_05 {
  background: #f2f8fc;
}
.borderColor1_05 {
  border-color: #f2f8fc;
}
.color1_10 {
  color: #e6f2f9;
}
.bgColor1_10 {
  background: #e6f2f9;
}
.borderColor1_10 {
  border-color: #e6f2f9;
}
.color1_15 {
  color: #d9ebf6;
}
.bgColor1_15 {
  background: #d9ebf6;
}
.borderColor1_15 {
  border-color: #d9ebf6;
}
.color1_20 {
  color: #cde4f3;
}
.bgColor1_20 {
  background: #cde4f3;
}
.borderColor1_20 {
  border-color: #cde4f3;
}
.color1_25 {
  color: #c0def1;
}
.bgColor1_25 {
  background: #c0def1;
}
.borderColor1_25 {
  border-color: #c0def1;
}
.color1_30 {
  color: #b3d7ee;
}
.bgColor1_30 {
  background: #b3d7ee;
}
.borderColor1_30 {
  border-color: #b3d7ee;
}
.color1_35 {
  color: #a7d0eb;
}
.bgColor1_35 {
  background: #a7d0eb;
}
.borderColor1_35 {
  border-color: #a7d0eb;
}
.color1_40 {
  color: #9acae8;
}
.bgColor1_40 {
  background: #9acae8;
}
.borderColor1_40 {
  border-color: #9acae8;
}
.color1_45 {
  color: #8ec3e5;
}
.bgColor1_45 {
  background: #8ec3e5;
}
.borderColor1_45 {
  border-color: #8ec3e5;
}
.color1_50 {
  color: #81bde2;
}
.bgColor1_50 {
  background: #81bde2;
}
.borderColor1_50 {
  border-color: #81bde2;
}
.color1_55 {
  color: #74b6df;
}
.bgColor1_55 {
  background: #74b6df;
}
.borderColor1_55 {
  border-color: #74b6df;
}
.color1_60 {
  color: #68afdc;
}
.bgColor1_60 {
  background: #68afdc;
}
.borderColor1_60 {
  border-color: #68afdc;
}
.color1_65 {
  color: #5ba9d9;
}
.bgColor1_65 {
  background: #5ba9d9;
}
.borderColor1_65 {
  border-color: #5ba9d9;
}
.color1_70 {
  color: #4fa2d6;
}
.bgColor1_70 {
  background: #4fa2d6;
}
.borderColor1_70 {
  border-color: #4fa2d6;
}
.color1_75 {
  color: #429bd4;
}
.bgColor1_75 {
  background: #429bd4;
}
.borderColor1_75 {
  border-color: #429bd4;
}
.color1_80 {
  color: #3595d1;
}
.bgColor1_80 {
  background: #3595d1;
}
.borderColor1_80 {
  border-color: #3595d1;
}
.color1_85 {
  color: #298ece;
}
.bgColor1_85 {
  background: #298ece;
}
.borderColor1_85 {
  border-color: #298ece;
}
.color1_90 {
  color: #1c87cb;
}
.bgColor1_90 {
  background: #1c87cb;
}
.borderColor1_90 {
  border-color: #1c87cb;
}
.color1_95 {
  color: #1081c8;
}
.bgColor1_95 {
  background: #1081c8;
}
.borderColor1_95 {
  border-color: #1081c8;
}
.color1_100 {
  color: #037ac5;
}
.bgColor1_100 {
  background: #037ac5;
}
.borderColor1_100 {
  border-color: #037ac5;
}
.color2_00 {
  color: #ffffff;
}
.bgColor2_00 {
  background: #ffffff;
}
.borderColor2_00 {
  border-color: #ffffff;
}
.color2_05 {
  color: #f8fafc;
}
.bgColor2_05 {
  background: #f8fafc;
}
.borderColor2_05 {
  border-color: #f8fafc;
}
.color2_10 {
  color: #f0f6f9;
}
.bgColor2_10 {
  background: #f0f6f9;
}
.borderColor2_10 {
  border-color: #f0f6f9;
}
.color2_15 {
  color: #e9f1f6;
}
.bgColor2_15 {
  background: #e9f1f6;
}
.borderColor2_15 {
  border-color: #e9f1f6;
}
.color2_20 {
  color: #e1ecf3;
}
.bgColor2_20 {
  background: #e1ecf3;
}
.borderColor2_20 {
  border-color: #e1ecf3;
}
.color2_25 {
  color: #dae8f1;
}
.bgColor2_25 {
  background: #dae8f1;
}
.borderColor2_25 {
  border-color: #dae8f1;
}
.color2_30 {
  color: #d3e3ee;
}
.bgColor2_30 {
  background: #d3e3ee;
}
.borderColor2_30 {
  border-color: #d3e3ee;
}
.color2_35 {
  color: #cbdeeb;
}
.bgColor2_35 {
  background: #cbdeeb;
}
.borderColor2_35 {
  border-color: #cbdeeb;
}
.color2_40 {
  color: #c4dae8;
}
.bgColor2_40 {
  background: #c4dae8;
}
.borderColor2_40 {
  border-color: #c4dae8;
}
.color2_45 {
  color: #bcd5e5;
}
.bgColor2_45 {
  background: #bcd5e5;
}
.borderColor2_45 {
  border-color: #bcd5e5;
}
.color2_50 {
  color: #b5d1e2;
}
.bgColor2_50 {
  background: #b5d1e2;
}
.borderColor2_50 {
  border-color: #b5d1e2;
}
.color2_55 {
  color: #aeccdf;
}
.bgColor2_55 {
  background: #aeccdf;
}
.borderColor2_55 {
  border-color: #aeccdf;
}
.color2_60 {
  color: #a6c7dc;
}
.bgColor2_60 {
  background: #a6c7dc;
}
.borderColor2_60 {
  border-color: #a6c7dc;
}
.color2_65 {
  color: #9fc3d9;
}
.bgColor2_65 {
  background: #9fc3d9;
}
.borderColor2_65 {
  border-color: #9fc3d9;
}
.color2_70 {
  color: #97bed6;
}
.bgColor2_70 {
  background: #97bed6;
}
.borderColor2_70 {
  border-color: #97bed6;
}
.color2_75 {
  color: #90b9d4;
}
.bgColor2_75 {
  background: #90b9d4;
}
.borderColor2_75 {
  border-color: #90b9d4;
}
.color2_80 {
  color: #89b5d1;
}
.bgColor2_80 {
  background: #89b5d1;
}
.borderColor2_80 {
  border-color: #89b5d1;
}
.color2_85 {
  color: #81b0ce;
}
.bgColor2_85 {
  background: #81b0ce;
}
.borderColor2_85 {
  border-color: #81b0ce;
}
.color2_90 {
  color: #7aabcb;
}
.bgColor2_90 {
  background: #7aabcb;
}
.borderColor2_90 {
  border-color: #7aabcb;
}
.color2_95 {
  color: #72a7c8;
}
.bgColor2_95 {
  background: #72a7c8;
}
.borderColor2_95 {
  border-color: #72a7c8;
}
.color2_100 {
  color: #6ba2c5;
}
.bgColor2_100 {
  background: #6ba2c5;
}
.borderColor2_100 {
  border-color: #6ba2c5;
}
.color3_00 {
  color: #ffffff;
}
.bgColor3_00 {
  background: #ffffff;
}
.borderColor3_00 {
  border-color: #ffffff;
}
.color3_05 {
  color: #fffcf7;
}
.bgColor3_05 {
  background: #fffcf7;
}
.borderColor3_05 {
  border-color: #fffcf7;
}
.color3_10 {
  color: #fffaf0;
}
.bgColor3_10 {
  background: #fffaf0;
}
.borderColor3_10 {
  border-color: #fffaf0;
}
.color3_15 {
  color: #fff7e8;
}
.bgColor3_15 {
  background: #fff7e8;
}
.borderColor3_15 {
  border-color: #fff7e8;
}
.color3_20 {
  color: #fff5e0;
}
.bgColor3_20 {
  background: #fff5e0;
}
.borderColor3_20 {
  border-color: #fff5e0;
}
.color3_25 {
  color: #fff2d9;
}
.bgColor3_25 {
  background: #fff2d9;
}
.borderColor3_25 {
  border-color: #fff2d9;
}
.color3_30 {
  color: #fff0d1;
}
.bgColor3_30 {
  background: #fff0d1;
}
.borderColor3_30 {
  border-color: #fff0d1;
}
.color3_35 {
  color: #ffedc9;
}
.bgColor3_35 {
  background: #ffedc9;
}
.borderColor3_35 {
  border-color: #ffedc9;
}
.color3_40 {
  color: #ffebc2;
}
.bgColor3_40 {
  background: #ffebc2;
}
.borderColor3_40 {
  border-color: #ffebc2;
}
.color3_45 {
  color: #ffe8ba;
}
.bgColor3_45 {
  background: #ffe8ba;
}
.borderColor3_45 {
  border-color: #ffe8ba;
}
.color3_50 {
  color: #ffe6b3;
}
.bgColor3_50 {
  background: #ffe6b3;
}
.borderColor3_50 {
  border-color: #ffe6b3;
}
.color3_55 {
  color: #ffe3ab;
}
.bgColor3_55 {
  background: #ffe3ab;
}
.borderColor3_55 {
  border-color: #ffe3ab;
}
.color3_60 {
  color: #ffe0a3;
}
.bgColor3_60 {
  background: #ffe0a3;
}
.borderColor3_60 {
  border-color: #ffe0a3;
}
.color3_65 {
  color: #ffde9c;
}
.bgColor3_65 {
  background: #ffde9c;
}
.borderColor3_65 {
  border-color: #ffde9c;
}
.color3_70 {
  color: #ffdb94;
}
.bgColor3_70 {
  background: #ffdb94;
}
.borderColor3_70 {
  border-color: #ffdb94;
}
.color3_75 {
  color: #ffd98c;
}
.bgColor3_75 {
  background: #ffd98c;
}
.borderColor3_75 {
  border-color: #ffd98c;
}
.color3_80 {
  color: #ffd685;
}
.bgColor3_80 {
  background: #ffd685;
}
.borderColor3_80 {
  border-color: #ffd685;
}
.color3_85 {
  color: #ffd47d;
}
.bgColor3_85 {
  background: #ffd47d;
}
.borderColor3_85 {
  border-color: #ffd47d;
}
.color3_90 {
  color: #ffd175;
}
.bgColor3_90 {
  background: #ffd175;
}
.borderColor3_90 {
  border-color: #ffd175;
}
.color3_95 {
  color: #ffcf6e;
}
.bgColor3_95 {
  background: #ffcf6e;
}
.borderColor3_95 {
  border-color: #ffcf6e;
}
.color3_100 {
  color: #ffcc66;
}
.bgColor3_100 {
  background: #ffcc66;
}
.borderColor3_100 {
  border-color: #ffcc66;
}
.color4_00 {
  color: #ffffff;
}
.bgColor4_00 {
  background: #ffffff;
}
.borderColor4_00 {
  border-color: #ffffff;
}
.color4_05 {
  color: #fafbf9;
}
.bgColor4_05 {
  background: #fafbf9;
}
.borderColor4_05 {
  border-color: #fafbf9;
}
.color4_10 {
  color: #f5f7f4;
}
.bgColor4_10 {
  background: #f5f7f4;
}
.borderColor4_10 {
  border-color: #f5f7f4;
}
.color4_15 {
  color: #f0f2ee;
}
.bgColor4_15 {
  background: #f0f2ee;
}
.borderColor4_15 {
  border-color: #f0f2ee;
}
.color4_20 {
  color: #ebeee8;
}
.bgColor4_20 {
  background: #ebeee8;
}
.borderColor4_20 {
  border-color: #ebeee8;
}
.color4_25 {
  color: #e6eae2;
}
.bgColor4_25 {
  background: #e6eae2;
}
.borderColor4_25 {
  border-color: #e6eae2;
}
.color4_30 {
  color: #e1e6dd;
}
.bgColor4_30 {
  background: #e1e6dd;
}
.borderColor4_30 {
  border-color: #e1e6dd;
}
.color4_35 {
  color: #dce2d7;
}
.bgColor4_35 {
  background: #dce2d7;
}
.borderColor4_35 {
  border-color: #dce2d7;
}
.color4_40 {
  color: #d7ddd1;
}
.bgColor4_40 {
  background: #d7ddd1;
}
.borderColor4_40 {
  border-color: #d7ddd1;
}
.color4_45 {
  color: #d2d9cb;
}
.bgColor4_45 {
  background: #d2d9cb;
}
.borderColor4_45 {
  border-color: #d2d9cb;
}
.color4_50 {
  color: #cdd5c6;
}
.bgColor4_50 {
  background: #cdd5c6;
}
.borderColor4_50 {
  border-color: #cdd5c6;
}
.color4_55 {
  color: #c8d1c0;
}
.bgColor4_55 {
  background: #c8d1c0;
}
.borderColor4_55 {
  border-color: #c8d1c0;
}
.color4_60 {
  color: #c3cdba;
}
.bgColor4_60 {
  background: #c3cdba;
}
.borderColor4_60 {
  border-color: #c3cdba;
}
.color4_65 {
  color: #bdc9b4;
}
.bgColor4_65 {
  background: #bdc9b4;
}
.borderColor4_65 {
  border-color: #bdc9b4;
}
.color4_70 {
  color: #b8c4af;
}
.bgColor4_70 {
  background: #b8c4af;
}
.borderColor4_70 {
  border-color: #b8c4af;
}
.color4_75 {
  color: #b3c0a9;
}
.bgColor4_75 {
  background: #b3c0a9;
}
.borderColor4_75 {
  border-color: #b3c0a9;
}
.color4_80 {
  color: #aebca3;
}
.bgColor4_80 {
  background: #aebca3;
}
.borderColor4_80 {
  border-color: #aebca3;
}
.color4_85 {
  color: #a9b89d;
}
.bgColor4_85 {
  background: #a9b89d;
}
.borderColor4_85 {
  border-color: #a9b89d;
}
.color4_90 {
  color: #a4b498;
}
.bgColor4_90 {
  background: #a4b498;
}
.borderColor4_90 {
  border-color: #a4b498;
}
.color4_95 {
  color: #9faf92;
}
.bgColor4_95 {
  background: #9faf92;
}
.borderColor4_95 {
  border-color: #9faf92;
}
.color4_100 {
  color: #9aab8c;
}
.bgColor4_100 {
  background: #9aab8c;
}
.borderColor4_100 {
  border-color: #9aab8c;
}
.mix1_00 {
  color: #037ac5;
}
.bgMix1_00 {
  background: #037ac5;
}
.borderMix1_00 {
  border-color: #037ac5;
}
.mix1_05 {
  color: #107ec0;
}
.bgMix1_05 {
  background: #107ec0;
}
.borderMix1_05 {
  border-color: #107ec0;
}
.mix1_10 {
  color: #1c82bc;
}
.bgMix1_10 {
  background: #1c82bc;
}
.borderMix1_10 {
  border-color: #1c82bc;
}
.mix1_15 {
  color: #2986b7;
}
.bgMix1_15 {
  background: #2986b7;
}
.borderMix1_15 {
  border-color: #2986b7;
}
.mix1_20 {
  color: #358ab2;
}
.bgMix1_20 {
  background: #358ab2;
}
.borderMix1_20 {
  border-color: #358ab2;
}
.mix1_25 {
  color: #428fad;
}
.bgMix1_25 {
  background: #428fad;
}
.borderMix1_25 {
  border-color: #428fad;
}
.mix1_30 {
  color: #4f93a8;
}
.bgMix1_30 {
  background: #4f93a8;
}
.borderMix1_30 {
  border-color: #4f93a8;
}
.mix1_35 {
  color: #5b97a4;
}
.bgMix1_35 {
  background: #5b97a4;
}
.borderMix1_35 {
  border-color: #5b97a4;
}
.mix1_40 {
  color: #689b9f;
}
.bgMix1_40 {
  background: #689b9f;
}
.borderMix1_40 {
  border-color: #689b9f;
}
.mix1_45 {
  color: #749f9a;
}
.bgMix1_45 {
  background: #749f9a;
}
.borderMix1_45 {
  border-color: #749f9a;
}
.mix1_50 {
  color: #81a396;
}
.bgMix1_50 {
  background: #81a396;
}
.borderMix1_50 {
  border-color: #81a396;
}
.mix1_55 {
  color: #8ea791;
}
.bgMix1_55 {
  background: #8ea791;
}
.borderMix1_55 {
  border-color: #8ea791;
}
.mix1_60 {
  color: #9aab8c;
}
.bgMix1_60 {
  background: #9aab8c;
}
.borderMix1_60 {
  border-color: #9aab8c;
}
.mix1_65 {
  color: #a7af87;
}
.bgMix1_65 {
  background: #a7af87;
}
.borderMix1_65 {
  border-color: #a7af87;
}
.mix1_70 {
  color: #b3b383;
}
.bgMix1_70 {
  background: #b3b383;
}
.borderMix1_70 {
  border-color: #b3b383;
}
.mix1_75 {
  color: #c0b87e;
}
.bgMix1_75 {
  background: #c0b87e;
}
.borderMix1_75 {
  border-color: #c0b87e;
}
.mix1_80 {
  color: #cdbc79;
}
.bgMix1_80 {
  background: #cdbc79;
}
.borderMix1_80 {
  border-color: #cdbc79;
}
.mix1_85 {
  color: #d9c074;
}
.bgMix1_85 {
  background: #d9c074;
}
.borderMix1_85 {
  border-color: #d9c074;
}
.mix1_90 {
  color: #e6c470;
}
.bgMix1_90 {
  background: #e6c470;
}
.borderMix1_90 {
  border-color: #e6c470;
}
.mix1_95 {
  color: #f2c86b;
}
.bgMix1_95 {
  background: #f2c86b;
}
.borderMix1_95 {
  border-color: #f2c86b;
}
.mix1_100 {
  color: #ffcc66;
}
.bgMix1_100 {
  background: #ffcc66;
}
.borderMix1_100 {
  border-color: #ffcc66;
}
.mix2_00 {
  color: #037ac5;
}
.bgMix2_00 {
  background: #037ac5;
}
.borderMix2_00 {
  border-color: #037ac5;
}
.mix2_05 {
  color: #0c7dc4;
}
.bgMix2_05 {
  background: #0c7dc4;
}
.borderMix2_05 {
  border-color: #0c7dc4;
}
.mix2_10 {
  color: #1580c3;
}
.bgMix2_10 {
  background: #1580c3;
}
.borderMix2_10 {
  border-color: #1580c3;
}
.mix2_15 {
  color: #1d82c2;
}
.bgMix2_15 {
  background: #1d82c2;
}
.borderMix2_15 {
  border-color: #1d82c2;
}
.mix2_20 {
  color: #2685c1;
}
.bgMix2_20 {
  background: #2685c1;
}
.borderMix2_20 {
  border-color: #2685c1;
}
.mix2_25 {
  color: #2f88c0;
}
.bgMix2_25 {
  background: #2f88c0;
}
.borderMix2_25 {
  border-color: #2f88c0;
}
.mix2_30 {
  color: #388bbf;
}
.bgMix2_30 {
  background: #388bbf;
}
.borderMix2_30 {
  border-color: #388bbf;
}
.mix2_35 {
  color: #408ebf;
}
.bgMix2_35 {
  background: #408ebf;
}
.borderMix2_35 {
  border-color: #408ebf;
}
.mix2_40 {
  color: #4991be;
}
.bgMix2_40 {
  background: #4991be;
}
.borderMix2_40 {
  border-color: #4991be;
}
.mix2_45 {
  color: #5293bd;
}
.bgMix2_45 {
  background: #5293bd;
}
.borderMix2_45 {
  border-color: #5293bd;
}
.mix2_50 {
  color: #5b96bc;
}
.bgMix2_50 {
  background: #5b96bc;
}
.borderMix2_50 {
  border-color: #5b96bc;
}
.mix2_55 {
  color: #6499bb;
}
.bgMix2_55 {
  background: #6499bb;
}
.borderMix2_55 {
  border-color: #6499bb;
}
.mix2_60 {
  color: #6c9cba;
}
.bgMix2_60 {
  background: #6c9cba;
}
.borderMix2_60 {
  border-color: #6c9cba;
}
.mix2_65 {
  color: #759fb9;
}
.bgMix2_65 {
  background: #759fb9;
}
.borderMix2_65 {
  border-color: #759fb9;
}
.mix2_70 {
  color: #7ea2b8;
}
.bgMix2_70 {
  background: #7ea2b8;
}
.borderMix2_70 {
  border-color: #7ea2b8;
}
.mix2_75 {
  color: #87a4b7;
}
.bgMix2_75 {
  background: #87a4b7;
}
.borderMix2_75 {
  border-color: #87a4b7;
}
.mix2_80 {
  color: #8fa7b6;
}
.bgMix2_80 {
  background: #8fa7b6;
}
.borderMix2_80 {
  border-color: #8fa7b6;
}
.mix2_85 {
  color: #98aab5;
}
.bgMix2_85 {
  background: #98aab5;
}
.borderMix2_85 {
  border-color: #98aab5;
}
.mix2_90 {
  color: #a1adb4;
}
.bgMix2_90 {
  background: #a1adb4;
}
.borderMix2_90 {
  border-color: #a1adb4;
}
.mix2_95 {
  color: #aab0b3;
}
.bgMix2_95 {
  background: #aab0b3;
}
.borderMix2_95 {
  border-color: #aab0b3;
}
.mix2_100 {
  color: #b3b3b3;
}
.bgMix2_100 {
  background: #b3b3b3;
}
.borderMix2_100 {
  border-color: #b3b3b3;
}
.color1 {
  color: #037ac5;
}
.bgColor1 {
  background: #037ac5;
}
.borderColor1 {
  border-color: #037ac5;
}
.color2 {
  color: #6ba2c5;
}
.bgColor2 {
  background: #6ba2c5;
}
.borderColor2 {
  border-color: #6ba2c5;
}
.color3 {
  color: #ffcc66;
}
.bgColor3 {
  background: #ffcc66;
}
.borderColor3 {
  border-color: #ffcc66;
}
.color4 {
  color: #9aab8c;
}
.bgColor4 {
  background: #9aab8c;
}
.borderColor4 {
  border-color: #9aab8c;
}
