<?xml version="1.0" encoding="UTF-8"?>
<!--
  Per altre informazioni su come configurare l'applicazione ASP.NET, vedere
 https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <!--
  ========================= DA SBLOCCARE IN SEGUITO ======================================================
  <authentication mode="Forms">
    <forms 
      defaultUrl="/home/welcome" 
      name=".YEAPASPXSESSION" 
      loginUrl="/public/aspx/Home.aspx" 
      protection="All" 
      slidingExpiration="true"        
      timeout="30"
    ></forms>
  </authentication>
  
  <authorization>
    <deny users="?"/>
  </authorization>

  ========================================================================================================
  -->
  </system.web>
  <!--
  ========================= DA SBLOCCARE IN SEGUITO ======================================================
  <!- - cartella "public" accessibile senza problemi - ->
  <location path="public">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  ========================================================================================================
  -->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="api/(.*)" />
                    <action type="Rewrite" url="http://localhost:55732/{R:1}" />
                    <conditions>
                    </conditions>
                </rule>
                <rule name="ReverseProxyInboundRule2" stopProcessing="true">
                    <match url="apiyeap/(.*)" />
                    <action type="Rewrite" url="https://localhost:8082/{R:1}" logRewrittenUrl="true" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="ReverseProxyOutboundRule1" preCondition="ResponseIsHtml1" stopProcessing="true">
                    <match filterByTags="A, Form, Img" pattern="localhost:55732/(.*)" />
                    <action type="Rewrite" value="https://localhost/api/{R:1}" />
                </rule>
                <rule name="ReverseProxyOutboundRule2" preCondition="ResponseIsHtml1" stopProcessing="true">
                    <match filterByTags="A, Form, Img" pattern="localhost:8082/(.*)" />
                    <action type="Rewrite" value="https://localhost/apiyeap/{R:1}" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    </system.webServer>
</configuration>