/*@yeapGrey5: #555;*/
hr,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  padding: 0px;
}
.hide,
.hidden {
  display: none;
}
.text-left,
.textLeft,
.text-align-left {
  text-align: left;
}
.text-right,
.textRight,
.text-align-right {
  text-align: right;
}
.text-center,
.textCenter,
.text-align-center {
  text-align: center;
}
.floatLeft,
.float-left {
  float: left;
}
.floatRight,
.float-right {
  float: right;
}
.padding-t--50 {
  padding-top: -50px !important;
}
.padding-r--50 {
  padding-right: -50px !important;
}
.padding-b--50 {
  padding-bottom: -50px !important;
}
.padding-l--50 {
  padding-left: -50px !important;
}
.padding-v--50 {
  padding-top: -50px !important;
  padding-bottom: -50px !important;
}
.padding-h--50 {
  padding-left: -50px !important;
  padding-right: -50px !important;
}
.padding-a--50 {
  padding: -50px !important;
}
.padding-t--45 {
  padding-top: -45px !important;
}
.padding-r--45 {
  padding-right: -45px !important;
}
.padding-b--45 {
  padding-bottom: -45px !important;
}
.padding-l--45 {
  padding-left: -45px !important;
}
.padding-v--45 {
  padding-top: -45px !important;
  padding-bottom: -45px !important;
}
.padding-h--45 {
  padding-left: -45px !important;
  padding-right: -45px !important;
}
.padding-a--45 {
  padding: -45px !important;
}
.padding-t--40 {
  padding-top: -40px !important;
}
.padding-r--40 {
  padding-right: -40px !important;
}
.padding-b--40 {
  padding-bottom: -40px !important;
}
.padding-l--40 {
  padding-left: -40px !important;
}
.padding-v--40 {
  padding-top: -40px !important;
  padding-bottom: -40px !important;
}
.padding-h--40 {
  padding-left: -40px !important;
  padding-right: -40px !important;
}
.padding-a--40 {
  padding: -40px !important;
}
.padding-t--35 {
  padding-top: -35px !important;
}
.padding-r--35 {
  padding-right: -35px !important;
}
.padding-b--35 {
  padding-bottom: -35px !important;
}
.padding-l--35 {
  padding-left: -35px !important;
}
.padding-v--35 {
  padding-top: -35px !important;
  padding-bottom: -35px !important;
}
.padding-h--35 {
  padding-left: -35px !important;
  padding-right: -35px !important;
}
.padding-a--35 {
  padding: -35px !important;
}
.padding-t--30 {
  padding-top: -30px !important;
}
.padding-r--30 {
  padding-right: -30px !important;
}
.padding-b--30 {
  padding-bottom: -30px !important;
}
.padding-l--30 {
  padding-left: -30px !important;
}
.padding-v--30 {
  padding-top: -30px !important;
  padding-bottom: -30px !important;
}
.padding-h--30 {
  padding-left: -30px !important;
  padding-right: -30px !important;
}
.padding-a--30 {
  padding: -30px !important;
}
.padding-t--25 {
  padding-top: -25px !important;
}
.padding-r--25 {
  padding-right: -25px !important;
}
.padding-b--25 {
  padding-bottom: -25px !important;
}
.padding-l--25 {
  padding-left: -25px !important;
}
.padding-v--25 {
  padding-top: -25px !important;
  padding-bottom: -25px !important;
}
.padding-h--25 {
  padding-left: -25px !important;
  padding-right: -25px !important;
}
.padding-a--25 {
  padding: -25px !important;
}
.padding-t--20 {
  padding-top: -20px !important;
}
.padding-r--20 {
  padding-right: -20px !important;
}
.padding-b--20 {
  padding-bottom: -20px !important;
}
.padding-l--20 {
  padding-left: -20px !important;
}
.padding-v--20 {
  padding-top: -20px !important;
  padding-bottom: -20px !important;
}
.padding-h--20 {
  padding-left: -20px !important;
  padding-right: -20px !important;
}
.padding-a--20 {
  padding: -20px !important;
}
.padding-t--15 {
  padding-top: -15px !important;
}
.padding-r--15 {
  padding-right: -15px !important;
}
.padding-b--15 {
  padding-bottom: -15px !important;
}
.padding-l--15 {
  padding-left: -15px !important;
}
.padding-v--15 {
  padding-top: -15px !important;
  padding-bottom: -15px !important;
}
.padding-h--15 {
  padding-left: -15px !important;
  padding-right: -15px !important;
}
.padding-a--15 {
  padding: -15px !important;
}
.padding-t--10 {
  padding-top: -10px !important;
}
.padding-r--10 {
  padding-right: -10px !important;
}
.padding-b--10 {
  padding-bottom: -10px !important;
}
.padding-l--10 {
  padding-left: -10px !important;
}
.padding-v--10 {
  padding-top: -10px !important;
  padding-bottom: -10px !important;
}
.padding-h--10 {
  padding-left: -10px !important;
  padding-right: -10px !important;
}
.padding-a--10 {
  padding: -10px !important;
}
.padding-t--5 {
  padding-top: -5px !important;
}
.padding-r--5 {
  padding-right: -5px !important;
}
.padding-b--5 {
  padding-bottom: -5px !important;
}
.padding-l--5 {
  padding-left: -5px !important;
}
.padding-v--5 {
  padding-top: -5px !important;
  padding-bottom: -5px !important;
}
.padding-h--5 {
  padding-left: -5px !important;
  padding-right: -5px !important;
}
.padding-a--5 {
  padding: -5px !important;
}
.padding-t-0 {
  padding-top: 0px !important;
}
.padding-r-0 {
  padding-right: 0px !important;
}
.padding-b-0 {
  padding-bottom: 0px !important;
}
.padding-l-0 {
  padding-left: 0px !important;
}
.padding-v-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.padding-h-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.padding-a-0 {
  padding: 0px !important;
}
.padding-t-5 {
  padding-top: 5px !important;
}
.padding-r-5 {
  padding-right: 5px !important;
}
.padding-b-5 {
  padding-bottom: 5px !important;
}
.padding-l-5 {
  padding-left: 5px !important;
}
.padding-v-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.padding-h-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.padding-a-5 {
  padding: 5px !important;
}
.padding-t-10 {
  padding-top: 10px !important;
}
.padding-r-10 {
  padding-right: 10px !important;
}
.padding-b-10 {
  padding-bottom: 10px !important;
}
.padding-l-10 {
  padding-left: 10px !important;
}
.padding-v-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.padding-h-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.padding-a-10 {
  padding: 10px !important;
}
.padding-t-15 {
  padding-top: 15px !important;
}
.padding-r-15 {
  padding-right: 15px !important;
}
.padding-b-15 {
  padding-bottom: 15px !important;
}
.padding-l-15 {
  padding-left: 15px !important;
}
.padding-v-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.padding-h-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.padding-a-15 {
  padding: 15px !important;
}
.padding-t-20 {
  padding-top: 20px !important;
}
.padding-r-20 {
  padding-right: 20px !important;
}
.padding-b-20 {
  padding-bottom: 20px !important;
}
.padding-l-20 {
  padding-left: 20px !important;
}
.padding-v-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.padding-h-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.padding-a-20 {
  padding: 20px !important;
}
.padding-t-25 {
  padding-top: 25px !important;
}
.padding-r-25 {
  padding-right: 25px !important;
}
.padding-b-25 {
  padding-bottom: 25px !important;
}
.padding-l-25 {
  padding-left: 25px !important;
}
.padding-v-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.padding-h-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.padding-a-25 {
  padding: 25px !important;
}
.padding-t-30 {
  padding-top: 30px !important;
}
.padding-r-30 {
  padding-right: 30px !important;
}
.padding-b-30 {
  padding-bottom: 30px !important;
}
.padding-l-30 {
  padding-left: 30px !important;
}
.padding-v-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.padding-h-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.padding-a-30 {
  padding: 30px !important;
}
.padding-t-35 {
  padding-top: 35px !important;
}
.padding-r-35 {
  padding-right: 35px !important;
}
.padding-b-35 {
  padding-bottom: 35px !important;
}
.padding-l-35 {
  padding-left: 35px !important;
}
.padding-v-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}
.padding-h-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}
.padding-a-35 {
  padding: 35px !important;
}
.padding-t-40 {
  padding-top: 40px !important;
}
.padding-r-40 {
  padding-right: 40px !important;
}
.padding-b-40 {
  padding-bottom: 40px !important;
}
.padding-l-40 {
  padding-left: 40px !important;
}
.padding-v-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.padding-h-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.padding-a-40 {
  padding: 40px !important;
}
.padding-t-45 {
  padding-top: 45px !important;
}
.padding-r-45 {
  padding-right: 45px !important;
}
.padding-b-45 {
  padding-bottom: 45px !important;
}
.padding-l-45 {
  padding-left: 45px !important;
}
.padding-v-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}
.padding-h-45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}
.padding-a-45 {
  padding: 45px !important;
}
.padding-t-50 {
  padding-top: 50px !important;
}
.padding-r-50 {
  padding-right: 50px !important;
}
.padding-b-50 {
  padding-bottom: 50px !important;
}
.padding-l-50 {
  padding-left: 50px !important;
}
.padding-v-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.padding-h-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.padding-a-50 {
  padding: 50px !important;
}
.padding-t-55 {
  padding-top: 55px !important;
}
.padding-r-55 {
  padding-right: 55px !important;
}
.padding-b-55 {
  padding-bottom: 55px !important;
}
.padding-l-55 {
  padding-left: 55px !important;
}
.padding-v-55 {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}
.padding-h-55 {
  padding-left: 55px !important;
  padding-right: 55px !important;
}
.padding-a-55 {
  padding: 55px !important;
}
.padding-t-60 {
  padding-top: 60px !important;
}
.padding-r-60 {
  padding-right: 60px !important;
}
.padding-b-60 {
  padding-bottom: 60px !important;
}
.padding-l-60 {
  padding-left: 60px !important;
}
.padding-v-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.padding-h-60 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
.padding-a-60 {
  padding: 60px !important;
}
.padding-t-65 {
  padding-top: 65px !important;
}
.padding-r-65 {
  padding-right: 65px !important;
}
.padding-b-65 {
  padding-bottom: 65px !important;
}
.padding-l-65 {
  padding-left: 65px !important;
}
.padding-v-65 {
  padding-top: 65px !important;
  padding-bottom: 65px !important;
}
.padding-h-65 {
  padding-left: 65px !important;
  padding-right: 65px !important;
}
.padding-a-65 {
  padding: 65px !important;
}
.padding-t-70 {
  padding-top: 70px !important;
}
.padding-r-70 {
  padding-right: 70px !important;
}
.padding-b-70 {
  padding-bottom: 70px !important;
}
.padding-l-70 {
  padding-left: 70px !important;
}
.padding-v-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}
.padding-h-70 {
  padding-left: 70px !important;
  padding-right: 70px !important;
}
.padding-a-70 {
  padding: 70px !important;
}
.padding-t-75 {
  padding-top: 75px !important;
}
.padding-r-75 {
  padding-right: 75px !important;
}
.padding-b-75 {
  padding-bottom: 75px !important;
}
.padding-l-75 {
  padding-left: 75px !important;
}
.padding-v-75 {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}
.padding-h-75 {
  padding-left: 75px !important;
  padding-right: 75px !important;
}
.padding-a-75 {
  padding: 75px !important;
}
.padding-t-80 {
  padding-top: 80px !important;
}
.padding-r-80 {
  padding-right: 80px !important;
}
.padding-b-80 {
  padding-bottom: 80px !important;
}
.padding-l-80 {
  padding-left: 80px !important;
}
.padding-v-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}
.padding-h-80 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}
.padding-a-80 {
  padding: 80px !important;
}
.padding-t-85 {
  padding-top: 85px !important;
}
.padding-r-85 {
  padding-right: 85px !important;
}
.padding-b-85 {
  padding-bottom: 85px !important;
}
.padding-l-85 {
  padding-left: 85px !important;
}
.padding-v-85 {
  padding-top: 85px !important;
  padding-bottom: 85px !important;
}
.padding-h-85 {
  padding-left: 85px !important;
  padding-right: 85px !important;
}
.padding-a-85 {
  padding: 85px !important;
}
.padding-t-90 {
  padding-top: 90px !important;
}
.padding-r-90 {
  padding-right: 90px !important;
}
.padding-b-90 {
  padding-bottom: 90px !important;
}
.padding-l-90 {
  padding-left: 90px !important;
}
.padding-v-90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}
.padding-h-90 {
  padding-left: 90px !important;
  padding-right: 90px !important;
}
.padding-a-90 {
  padding: 90px !important;
}
.padding-t-95 {
  padding-top: 95px !important;
}
.padding-r-95 {
  padding-right: 95px !important;
}
.padding-b-95 {
  padding-bottom: 95px !important;
}
.padding-l-95 {
  padding-left: 95px !important;
}
.padding-v-95 {
  padding-top: 95px !important;
  padding-bottom: 95px !important;
}
.padding-h-95 {
  padding-left: 95px !important;
  padding-right: 95px !important;
}
.padding-a-95 {
  padding: 95px !important;
}
.padding-t-100 {
  padding-top: 100px !important;
}
.padding-r-100 {
  padding-right: 100px !important;
}
.padding-b-100 {
  padding-bottom: 100px !important;
}
.padding-l-100 {
  padding-left: 100px !important;
}
.padding-v-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}
.padding-h-100 {
  padding-left: 100px !important;
  padding-right: 100px !important;
}
.padding-a-100 {
  padding: 100px !important;
}
.margin-t--50 {
  margin-top: -50px !important;
}
.margin-r--50 {
  margin-right: -50px !important;
}
.margin-b--50 {
  margin-bottom: -50px !important;
}
.margin-l--50 {
  margin-left: -50px !important;
}
.margin-v--50 {
  margin-top: -50px !important;
  margin-bottom: -50px !important;
}
.margin-h--50 {
  margin-left: -50px !important;
  margin-right: -50px !important;
}
.margin-a--50 {
  margin: -50px !important;
}
.margin-t--45 {
  margin-top: -45px !important;
}
.margin-r--45 {
  margin-right: -45px !important;
}
.margin-b--45 {
  margin-bottom: -45px !important;
}
.margin-l--45 {
  margin-left: -45px !important;
}
.margin-v--45 {
  margin-top: -45px !important;
  margin-bottom: -45px !important;
}
.margin-h--45 {
  margin-left: -45px !important;
  margin-right: -45px !important;
}
.margin-a--45 {
  margin: -45px !important;
}
.margin-t--40 {
  margin-top: -40px !important;
}
.margin-r--40 {
  margin-right: -40px !important;
}
.margin-b--40 {
  margin-bottom: -40px !important;
}
.margin-l--40 {
  margin-left: -40px !important;
}
.margin-v--40 {
  margin-top: -40px !important;
  margin-bottom: -40px !important;
}
.margin-h--40 {
  margin-left: -40px !important;
  margin-right: -40px !important;
}
.margin-a--40 {
  margin: -40px !important;
}
.margin-t--35 {
  margin-top: -35px !important;
}
.margin-r--35 {
  margin-right: -35px !important;
}
.margin-b--35 {
  margin-bottom: -35px !important;
}
.margin-l--35 {
  margin-left: -35px !important;
}
.margin-v--35 {
  margin-top: -35px !important;
  margin-bottom: -35px !important;
}
.margin-h--35 {
  margin-left: -35px !important;
  margin-right: -35px !important;
}
.margin-a--35 {
  margin: -35px !important;
}
.margin-t--30 {
  margin-top: -30px !important;
}
.margin-r--30 {
  margin-right: -30px !important;
}
.margin-b--30 {
  margin-bottom: -30px !important;
}
.margin-l--30 {
  margin-left: -30px !important;
}
.margin-v--30 {
  margin-top: -30px !important;
  margin-bottom: -30px !important;
}
.margin-h--30 {
  margin-left: -30px !important;
  margin-right: -30px !important;
}
.margin-a--30 {
  margin: -30px !important;
}
.margin-t--25 {
  margin-top: -25px !important;
}
.margin-r--25 {
  margin-right: -25px !important;
}
.margin-b--25 {
  margin-bottom: -25px !important;
}
.margin-l--25 {
  margin-left: -25px !important;
}
.margin-v--25 {
  margin-top: -25px !important;
  margin-bottom: -25px !important;
}
.margin-h--25 {
  margin-left: -25px !important;
  margin-right: -25px !important;
}
.margin-a--25 {
  margin: -25px !important;
}
.margin-t--20 {
  margin-top: -20px !important;
}
.margin-r--20 {
  margin-right: -20px !important;
}
.margin-b--20 {
  margin-bottom: -20px !important;
}
.margin-l--20 {
  margin-left: -20px !important;
}
.margin-v--20 {
  margin-top: -20px !important;
  margin-bottom: -20px !important;
}
.margin-h--20 {
  margin-left: -20px !important;
  margin-right: -20px !important;
}
.margin-a--20 {
  margin: -20px !important;
}
.margin-t--15 {
  margin-top: -15px !important;
}
.margin-r--15 {
  margin-right: -15px !important;
}
.margin-b--15 {
  margin-bottom: -15px !important;
}
.margin-l--15 {
  margin-left: -15px !important;
}
.margin-v--15 {
  margin-top: -15px !important;
  margin-bottom: -15px !important;
}
.margin-h--15 {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.margin-a--15 {
  margin: -15px !important;
}
.margin-t--10 {
  margin-top: -10px !important;
}
.margin-r--10 {
  margin-right: -10px !important;
}
.margin-b--10 {
  margin-bottom: -10px !important;
}
.margin-l--10 {
  margin-left: -10px !important;
}
.margin-v--10 {
  margin-top: -10px !important;
  margin-bottom: -10px !important;
}
.margin-h--10 {
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.margin-a--10 {
  margin: -10px !important;
}
.margin-t--5 {
  margin-top: -5px !important;
}
.margin-r--5 {
  margin-right: -5px !important;
}
.margin-b--5 {
  margin-bottom: -5px !important;
}
.margin-l--5 {
  margin-left: -5px !important;
}
.margin-v--5 {
  margin-top: -5px !important;
  margin-bottom: -5px !important;
}
.margin-h--5 {
  margin-left: -5px !important;
  margin-right: -5px !important;
}
.margin-a--5 {
  margin: -5px !important;
}
.margin-t-0 {
  margin-top: 0px !important;
}
.margin-r-0 {
  margin-right: 0px !important;
}
.margin-b-0 {
  margin-bottom: 0px !important;
}
.margin-l-0 {
  margin-left: 0px !important;
}
.margin-v-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.margin-h-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.margin-a-0 {
  margin: 0px !important;
}
.margin-t-5 {
  margin-top: 5px !important;
}
.margin-r-5 {
  margin-right: 5px !important;
}
.margin-b-5 {
  margin-bottom: 5px !important;
}
.margin-l-5 {
  margin-left: 5px !important;
}
.margin-v-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.margin-h-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.margin-a-5 {
  margin: 5px !important;
}
.margin-t-10 {
  margin-top: 10px !important;
}
.margin-r-10 {
  margin-right: 10px !important;
}
.margin-b-10 {
  margin-bottom: 10px !important;
}
.margin-l-10 {
  margin-left: 10px !important;
}
.margin-v-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.margin-h-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.margin-a-10 {
  margin: 10px !important;
}
.margin-t-15 {
  margin-top: 15px !important;
}
.margin-r-15 {
  margin-right: 15px !important;
}
.margin-b-15 {
  margin-bottom: 15px !important;
}
.margin-l-15 {
  margin-left: 15px !important;
}
.margin-v-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.margin-h-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.margin-a-15 {
  margin: 15px !important;
}
.margin-t-20 {
  margin-top: 20px !important;
}
.margin-r-20 {
  margin-right: 20px !important;
}
.margin-b-20 {
  margin-bottom: 20px !important;
}
.margin-l-20 {
  margin-left: 20px !important;
}
.margin-v-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.margin-h-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.margin-a-20 {
  margin: 20px !important;
}
.margin-t-25 {
  margin-top: 25px !important;
}
.margin-r-25 {
  margin-right: 25px !important;
}
.margin-b-25 {
  margin-bottom: 25px !important;
}
.margin-l-25 {
  margin-left: 25px !important;
}
.margin-v-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.margin-h-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.margin-a-25 {
  margin: 25px !important;
}
.margin-t-30 {
  margin-top: 30px !important;
}
.margin-r-30 {
  margin-right: 30px !important;
}
.margin-b-30 {
  margin-bottom: 30px !important;
}
.margin-l-30 {
  margin-left: 30px !important;
}
.margin-v-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.margin-h-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.margin-a-30 {
  margin: 30px !important;
}
.margin-t-35 {
  margin-top: 35px !important;
}
.margin-r-35 {
  margin-right: 35px !important;
}
.margin-b-35 {
  margin-bottom: 35px !important;
}
.margin-l-35 {
  margin-left: 35px !important;
}
.margin-v-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}
.margin-h-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}
.margin-a-35 {
  margin: 35px !important;
}
.margin-t-40 {
  margin-top: 40px !important;
}
.margin-r-40 {
  margin-right: 40px !important;
}
.margin-b-40 {
  margin-bottom: 40px !important;
}
.margin-l-40 {
  margin-left: 40px !important;
}
.margin-v-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.margin-h-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.margin-a-40 {
  margin: 40px !important;
}
.margin-t-45 {
  margin-top: 45px !important;
}
.margin-r-45 {
  margin-right: 45px !important;
}
.margin-b-45 {
  margin-bottom: 45px !important;
}
.margin-l-45 {
  margin-left: 45px !important;
}
.margin-v-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}
.margin-h-45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}
.margin-a-45 {
  margin: 45px !important;
}
.margin-t-50 {
  margin-top: 50px !important;
}
.margin-r-50 {
  margin-right: 50px !important;
}
.margin-b-50 {
  margin-bottom: 50px !important;
}
.margin-l-50 {
  margin-left: 50px !important;
}
.margin-v-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.margin-h-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}
.margin-a-50 {
  margin: 50px !important;
}
.margin-t-55 {
  margin-top: 55px !important;
}
.margin-r-55 {
  margin-right: 55px !important;
}
.margin-b-55 {
  margin-bottom: 55px !important;
}
.margin-l-55 {
  margin-left: 55px !important;
}
.margin-v-55 {
  margin-top: 55px !important;
  margin-bottom: 55px !important;
}
.margin-h-55 {
  margin-left: 55px !important;
  margin-right: 55px !important;
}
.margin-a-55 {
  margin: 55px !important;
}
.margin-t-60 {
  margin-top: 60px !important;
}
.margin-r-60 {
  margin-right: 60px !important;
}
.margin-b-60 {
  margin-bottom: 60px !important;
}
.margin-l-60 {
  margin-left: 60px !important;
}
.margin-v-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
.margin-h-60 {
  margin-left: 60px !important;
  margin-right: 60px !important;
}
.margin-a-60 {
  margin: 60px !important;
}
.margin-t-65 {
  margin-top: 65px !important;
}
.margin-r-65 {
  margin-right: 65px !important;
}
.margin-b-65 {
  margin-bottom: 65px !important;
}
.margin-l-65 {
  margin-left: 65px !important;
}
.margin-v-65 {
  margin-top: 65px !important;
  margin-bottom: 65px !important;
}
.margin-h-65 {
  margin-left: 65px !important;
  margin-right: 65px !important;
}
.margin-a-65 {
  margin: 65px !important;
}
.margin-t-70 {
  margin-top: 70px !important;
}
.margin-r-70 {
  margin-right: 70px !important;
}
.margin-b-70 {
  margin-bottom: 70px !important;
}
.margin-l-70 {
  margin-left: 70px !important;
}
.margin-v-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}
.margin-h-70 {
  margin-left: 70px !important;
  margin-right: 70px !important;
}
.margin-a-70 {
  margin: 70px !important;
}
.margin-t-75 {
  margin-top: 75px !important;
}
.margin-r-75 {
  margin-right: 75px !important;
}
.margin-b-75 {
  margin-bottom: 75px !important;
}
.margin-l-75 {
  margin-left: 75px !important;
}
.margin-v-75 {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}
.margin-h-75 {
  margin-left: 75px !important;
  margin-right: 75px !important;
}
.margin-a-75 {
  margin: 75px !important;
}
.margin-t-80 {
  margin-top: 80px !important;
}
.margin-r-80 {
  margin-right: 80px !important;
}
.margin-b-80 {
  margin-bottom: 80px !important;
}
.margin-l-80 {
  margin-left: 80px !important;
}
.margin-v-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}
.margin-h-80 {
  margin-left: 80px !important;
  margin-right: 80px !important;
}
.margin-a-80 {
  margin: 80px !important;
}
.margin-t-85 {
  margin-top: 85px !important;
}
.margin-r-85 {
  margin-right: 85px !important;
}
.margin-b-85 {
  margin-bottom: 85px !important;
}
.margin-l-85 {
  margin-left: 85px !important;
}
.margin-v-85 {
  margin-top: 85px !important;
  margin-bottom: 85px !important;
}
.margin-h-85 {
  margin-left: 85px !important;
  margin-right: 85px !important;
}
.margin-a-85 {
  margin: 85px !important;
}
.margin-t-90 {
  margin-top: 90px !important;
}
.margin-r-90 {
  margin-right: 90px !important;
}
.margin-b-90 {
  margin-bottom: 90px !important;
}
.margin-l-90 {
  margin-left: 90px !important;
}
.margin-v-90 {
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}
.margin-h-90 {
  margin-left: 90px !important;
  margin-right: 90px !important;
}
.margin-a-90 {
  margin: 90px !important;
}
.margin-t-95 {
  margin-top: 95px !important;
}
.margin-r-95 {
  margin-right: 95px !important;
}
.margin-b-95 {
  margin-bottom: 95px !important;
}
.margin-l-95 {
  margin-left: 95px !important;
}
.margin-v-95 {
  margin-top: 95px !important;
  margin-bottom: 95px !important;
}
.margin-h-95 {
  margin-left: 95px !important;
  margin-right: 95px !important;
}
.margin-a-95 {
  margin: 95px !important;
}
.margin-t-100 {
  margin-top: 100px !important;
}
.margin-r-100 {
  margin-right: 100px !important;
}
.margin-b-100 {
  margin-bottom: 100px !important;
}
.margin-l-100 {
  margin-left: 100px !important;
}
.margin-v-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
.margin-h-100 {
  margin-left: 100px !important;
  margin-right: 100px !important;
}
.margin-a-100 {
  margin: 100px !important;
}
.font-pct-50 {
  font-size: 50%;
}
.font-pct-60 {
  font-size: 60%;
}
.font-pct-70 {
  font-size: 70%;
}
.font-pct-80 {
  font-size: 80%;
}
.font-pct-90 {
  font-size: 90%;
}
.font-pct-100 {
  font-size: 100%;
}
.font-pct-110 {
  font-size: 110%;
}
.font-pct-120 {
  font-size: 120%;
}
.font-pct-130 {
  font-size: 130%;
}
.font-pct-140 {
  font-size: 140%;
}
.font-pct-150 {
  font-size: 150%;
}
.font-pct-160 {
  font-size: 160%;
}
.font-pct-170 {
  font-size: 170%;
}
.font-pct-180 {
  font-size: 180%;
}
.font-pct-190 {
  font-size: 190%;
}
.font-pct-200 {
  font-size: 200%;
}
.width-5 {
  width: 5%;
}
.col-pct-5 {
  width: 5%;
}
.width-6 {
  width: 6%;
}
.col-pct-6 {
  width: 6%;
}
.width-7 {
  width: 7%;
}
.col-pct-7 {
  width: 7%;
}
.width-8 {
  width: 8%;
}
.col-pct-8 {
  width: 8%;
}
.width-9 {
  width: 9%;
}
.col-pct-9 {
  width: 9%;
}
.width-10 {
  width: 10%;
}
.col-pct-10 {
  width: 10%;
}
.width-11 {
  width: 11%;
}
.col-pct-11 {
  width: 11%;
}
.width-12 {
  width: 12%;
}
.col-pct-12 {
  width: 12%;
}
.width-13 {
  width: 13%;
}
.col-pct-13 {
  width: 13%;
}
.width-14 {
  width: 14%;
}
.col-pct-14 {
  width: 14%;
}
.width-15 {
  width: 15%;
}
.col-pct-15 {
  width: 15%;
}
.width-16 {
  width: 16%;
}
.col-pct-16 {
  width: 16%;
}
.width-17 {
  width: 17%;
}
.col-pct-17 {
  width: 17%;
}
.width-18 {
  width: 18%;
}
.col-pct-18 {
  width: 18%;
}
.width-19 {
  width: 19%;
}
.col-pct-19 {
  width: 19%;
}
.width-20 {
  width: 20%;
}
.col-pct-20 {
  width: 20%;
}
.width-21 {
  width: 21%;
}
.col-pct-21 {
  width: 21%;
}
.width-22 {
  width: 22%;
}
.col-pct-22 {
  width: 22%;
}
.width-23 {
  width: 23%;
}
.col-pct-23 {
  width: 23%;
}
.width-24 {
  width: 24%;
}
.col-pct-24 {
  width: 24%;
}
.width-25 {
  width: 25%;
}
.col-pct-25 {
  width: 25%;
}
.width-26 {
  width: 26%;
}
.col-pct-26 {
  width: 26%;
}
.width-27 {
  width: 27%;
}
.col-pct-27 {
  width: 27%;
}
.width-28 {
  width: 28%;
}
.col-pct-28 {
  width: 28%;
}
.width-29 {
  width: 29%;
}
.col-pct-29 {
  width: 29%;
}
.width-30 {
  width: 30%;
}
.col-pct-30 {
  width: 30%;
}
.width-31 {
  width: 31%;
}
.col-pct-31 {
  width: 31%;
}
.width-32 {
  width: 32%;
}
.col-pct-32 {
  width: 32%;
}
.width-33 {
  width: 33%;
}
.col-pct-33 {
  width: 33%;
}
.width-34 {
  width: 34%;
}
.col-pct-34 {
  width: 34%;
}
.width-35 {
  width: 35%;
}
.col-pct-35 {
  width: 35%;
}
.width-36 {
  width: 36%;
}
.col-pct-36 {
  width: 36%;
}
.width-37 {
  width: 37%;
}
.col-pct-37 {
  width: 37%;
}
.width-38 {
  width: 38%;
}
.col-pct-38 {
  width: 38%;
}
.width-39 {
  width: 39%;
}
.col-pct-39 {
  width: 39%;
}
.width-40 {
  width: 40%;
}
.col-pct-40 {
  width: 40%;
}
.width-41 {
  width: 41%;
}
.col-pct-41 {
  width: 41%;
}
.width-42 {
  width: 42%;
}
.col-pct-42 {
  width: 42%;
}
.width-43 {
  width: 43%;
}
.col-pct-43 {
  width: 43%;
}
.width-44 {
  width: 44%;
}
.col-pct-44 {
  width: 44%;
}
.width-45 {
  width: 45%;
}
.col-pct-45 {
  width: 45%;
}
.width-46 {
  width: 46%;
}
.col-pct-46 {
  width: 46%;
}
.width-47 {
  width: 47%;
}
.col-pct-47 {
  width: 47%;
}
.width-48 {
  width: 48%;
}
.col-pct-48 {
  width: 48%;
}
.width-49 {
  width: 49%;
}
.col-pct-49 {
  width: 49%;
}
.width-50 {
  width: 50%;
}
.col-pct-50 {
  width: 50%;
}
.width-51 {
  width: 51%;
}
.col-pct-51 {
  width: 51%;
}
.width-52 {
  width: 52%;
}
.col-pct-52 {
  width: 52%;
}
.width-53 {
  width: 53%;
}
.col-pct-53 {
  width: 53%;
}
.width-54 {
  width: 54%;
}
.col-pct-54 {
  width: 54%;
}
.width-55 {
  width: 55%;
}
.col-pct-55 {
  width: 55%;
}
.width-56 {
  width: 56%;
}
.col-pct-56 {
  width: 56%;
}
.width-57 {
  width: 57%;
}
.col-pct-57 {
  width: 57%;
}
.width-58 {
  width: 58%;
}
.col-pct-58 {
  width: 58%;
}
.width-59 {
  width: 59%;
}
.col-pct-59 {
  width: 59%;
}
.width-60 {
  width: 60%;
}
.col-pct-60 {
  width: 60%;
}
.width-61 {
  width: 61%;
}
.col-pct-61 {
  width: 61%;
}
.width-62 {
  width: 62%;
}
.col-pct-62 {
  width: 62%;
}
.width-63 {
  width: 63%;
}
.col-pct-63 {
  width: 63%;
}
.width-64 {
  width: 64%;
}
.col-pct-64 {
  width: 64%;
}
.width-65 {
  width: 65%;
}
.col-pct-65 {
  width: 65%;
}
.width-66 {
  width: 66%;
}
.col-pct-66 {
  width: 66%;
}
.width-67 {
  width: 67%;
}
.col-pct-67 {
  width: 67%;
}
.width-68 {
  width: 68%;
}
.col-pct-68 {
  width: 68%;
}
.width-69 {
  width: 69%;
}
.col-pct-69 {
  width: 69%;
}
.width-70 {
  width: 70%;
}
.col-pct-70 {
  width: 70%;
}
.width-71 {
  width: 71%;
}
.col-pct-71 {
  width: 71%;
}
.width-72 {
  width: 72%;
}
.col-pct-72 {
  width: 72%;
}
.width-73 {
  width: 73%;
}
.col-pct-73 {
  width: 73%;
}
.width-74 {
  width: 74%;
}
.col-pct-74 {
  width: 74%;
}
.width-75 {
  width: 75%;
}
.col-pct-75 {
  width: 75%;
}
.width-76 {
  width: 76%;
}
.col-pct-76 {
  width: 76%;
}
.width-77 {
  width: 77%;
}
.col-pct-77 {
  width: 77%;
}
.width-78 {
  width: 78%;
}
.col-pct-78 {
  width: 78%;
}
.width-79 {
  width: 79%;
}
.col-pct-79 {
  width: 79%;
}
.width-80 {
  width: 80%;
}
.col-pct-80 {
  width: 80%;
}
.width-81 {
  width: 81%;
}
.col-pct-81 {
  width: 81%;
}
.width-82 {
  width: 82%;
}
.col-pct-82 {
  width: 82%;
}
.width-83 {
  width: 83%;
}
.col-pct-83 {
  width: 83%;
}
.width-84 {
  width: 84%;
}
.col-pct-84 {
  width: 84%;
}
.width-85 {
  width: 85%;
}
.col-pct-85 {
  width: 85%;
}
.width-86 {
  width: 86%;
}
.col-pct-86 {
  width: 86%;
}
.width-87 {
  width: 87%;
}
.col-pct-87 {
  width: 87%;
}
.width-88 {
  width: 88%;
}
.col-pct-88 {
  width: 88%;
}
.width-89 {
  width: 89%;
}
.col-pct-89 {
  width: 89%;
}
.width-90 {
  width: 90%;
}
.col-pct-90 {
  width: 90%;
}
.width-91 {
  width: 91%;
}
.col-pct-91 {
  width: 91%;
}
.width-92 {
  width: 92%;
}
.col-pct-92 {
  width: 92%;
}
.width-93 {
  width: 93%;
}
.col-pct-93 {
  width: 93%;
}
.width-94 {
  width: 94%;
}
.col-pct-94 {
  width: 94%;
}
.width-95 {
  width: 95%;
}
.col-pct-95 {
  width: 95%;
}
.width-96 {
  width: 96%;
}
.col-pct-96 {
  width: 96%;
}
.width-97 {
  width: 97%;
}
.col-pct-97 {
  width: 97%;
}
.width-98 {
  width: 98%;
}
.col-pct-98 {
  width: 98%;
}
.width-99 {
  width: 99%;
}
.col-pct-99 {
  width: 99%;
}
.width-100 {
  width: 100%;
}
.col-pct-100 {
  width: 100%;
}
.card.card-info .card-title-settings a {
  /*color     : #fff;
			display   : block;
			text-align: left;
			font-size : 20px;
			text-transform: uppercase;*/
}
.card.card-info .card-title-settings a .ico {
  float: right;
  margin-left: 10px;
}
.card.card-info .card-title-settings a[aria-expanded=true] .ico-open {
  display: inline-block;
}
.card.card-info .card-title-settings a[aria-expanded=true] .ico-close {
  display: none;
}
.card.card-info .card-title-settings a[aria-expanded=false] .ico-open {
  display: none;
}
.card.card-info .card-title-settings a[aria-expanded=false] .ico-close {
  display: inline-block;
}
.card.card-info .card-body {
  padding: 10px 20px;
  border: 1px solid #ccc;
}
.card.card-info .card.best ul span,
.card.card-info .card.worst ul span {
  float: right;
}
.card.card-info .card.best ul.old label,
.card.card-info .card.worst ul.old label {
  color: #999;
}
.card.card-info .locked {
  font-style: italic;
}
.card.card-info .locked.card-title-economics {
  background: #979797;
}
.card.card-info .locked.collapse {
  background: #f4f4f4;
}
#NoPIVA {
  position: relative;
  top: -1px;
}
.piva-question {
  display: inline-flex;
}
