<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>React example</title>

    <!-- JSX transpiler -->
    <script src="/system/3rd-parties/babel/babel.min.js"></script>

    <!-- React libraries -->
    <script src="/system/3rd-parties/react/react.development.js"></script>
    <script src="/system/3rd-parties/react/react-dom.development.js"></script>

    <!-- FramboJSe css -->
    <link type="text/css" rel="stylesheet" href="/system/resources/css/overrides.sys.css" />
    <link type="text/css" rel="stylesheet" href="/system/resources/css/typographics.sys.css" />
    <link type="text/css" rel="stylesheet" href="/system/resources/css/structural.sys.css" />
    <link type="text/css" rel="stylesheet" href="/private/resources/css/overrides.pvt.css" />
    <link type="text/css" rel="stylesheet" href="/private/resources/css/typographics.pvt.css" />
    <link type="text/css" rel="stylesheet" href="/private/resources/css/application.pvt.css" />
</head>
<body>
    <!-- React app entry point -->
    <div id="root"></div>

    <!-- React app import -->
    <script src='/react-apps/DisplayCookie/DisplayCookieReact.jsx' type="text/babel">
    </script>
</body>
</html>
