<reserved_header_section
	templateID="1003" 
	templateFile="modal_confirm.html" 
	templateDescription="template for 'Confirm' modal window">
</reserved_header_section>

<div id="modal" class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-md">
		<div class="modal-content modal-confirm">

			<div class="modal-header">
				<h1 class="modal-title">Richiesta conferma</h1>
				<button type="button" class="closeBox" data-dismiss="modal" aria-label="Close">
					<i class="far fa-times-circle" aria-hidden="true"></i>
				</button>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-md-3 icon">
						<span class="fa fa-exclamation-triangle"></span>
					</div>
					<div class="col-md-9">
						<h2>Conferma l'operazione</h2>
						<h3 id="message"></h3>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btnModal" data-dismiss="modal" id="btnYes"></button>
				<button type="button" class="btn btnModal" data-dismiss="modal" id="btnNot"></button>
			</div>
		</div>
	</div>
</div>
