<reserved_header_section 
	templateID="1006"
	templateFile="modal_info.html"
	templateDescription="template for 'generic info' modal window">
</reserved_header_section>

<div id="modal" class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-md">
		<div class="modal-content modal-info">

			<div class="modal-header">
				<h1 class="modal-title">Avviso generico</h1>
				<button type="button" class="closeBox" data-dismiss="modal" aria-label="Close">
					<i class="far fa-times-circle" aria-hidden="true"></i>
				</button>
			</div>
		
			<div class="modal-body">
				<div class="row">
					<div class="col-md-3 icon">
						<i class="fa fa-exclamation-circle"></i>
					</div>
					<div class="col-md-9">
						<h2>Attenzione</h2>
						<h3 id="message"></h3>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btnModal closeBox" data-dismiss="modal">
					Chiudi
				</button>
			</div>

		</div>
	</div>
</div>
